- provide(:title, "About")
.container
  .row
    %section.post.title.mx-auto
      %h1 Learn About Me!
      %br
    %section.post.content
      = image_tag( asset_path("static_pages/me_gb.png"), alt: "A 4-bit headshot of Tylor Lilley taken with a Gameboy Camera.", class: "float-left img-rounded about-me")
      %p
        Hello! My name is Tylor Lilley. I was born in Bowling Green and raised in
        Findlay, Ohio. I graduated from Findlay High School in 2012, and attended
        the Ohio State University from 2012 - 2016, where I graduated with a
        degree in Computer and Information Science. I currently work as a software
        developer for
        = link_to("CoverMyMeds", "https://www.covermymeds.com") + '.'
      %p
        I have been programming in my free time since I was ten years old. I have
        always loved video games - especially Nintendo ones - and I began
        teaching myself to program so that I could create video games of my own.
        I also taught myself how to create a website so I could have a place to
        post my games for others to download, and I have been maintaining and
        updating this site ever since. My very earliest work is no longer available
        here, but there are still examples of projects I worked on as early as 2010
        in the
        = link_to("games", "/games")
        section of the website. Anything I've left
        publicly available is still worth a look if you have the time to kill!
      %p
        Beyond programming for fun, I like to play games of all shapes and sizes
        in my free time. Some of my favorite video games include things like the
        Phoenix Wright series, Mother series, and the Legend of Zelda series. I
        also like to play board games - Dominion, Innovation, and the Arkham Horror LCG
        are a few of my very favorites - and I am a huge fan of Magic: the Gathering as
        well. Like, a huge fan. You can find links to my accounts related to these
        activities (among several others) on the
        = link_to("follow", "/follow")
        page if you
        wish to learn more!
