<% provide(:title, "About") %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <section class="post title">
          <%= tag.h1 "Learn About Me!" %>
          <h2 />
      </section>
      <section class="post content">
        <%= image_tag("me.jpg", alt: "A headshot of Tylor Lilley.", width: "50%",
        class: "pull-left img-rounded about-me") %>
        <p>
          Hello! My name is Tylor Lilley. I was born in Bowling Green and raised in
          Findlay, Ohio. I graduated from Findlay High School in 2012, and attended
          the Ohio State University from 2012 - 2016, where I graduated with a
          degree in Computer and Information Science. I have been working as a
          Software Developer ever since then.
        </p>
        <p>
          I have been programming in my free time since I was ten years old. I have
           always loved video games - especially Nintendo ones - and I began
           teaching myself to program so that I could create video games of my own.
           I also taught myself how to create a website so I could have a place to
           post my games for others to download, I and have been maintaining and
           updating this site ever since.
         </p>
        <p>
          Beyond programming for fun, I like to play games of all shapes and sizes
          in my free time. Some of my favorite video games include things like the
          Phoenix Wright series, Mother series, and the Legend of Zelda series. I
          also like to play board games - Dominion and Innovation are a few of my
          very favorites - and I am a huge fan of Magic: the Gathering as well.
        </p>
      </section>
    </div>
  </div>
</div>
