<% provide(:title, "Contact") %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <section class="post title">
        <%= tag.h1 "Contact Me!" %>
        <h2 />
      </section>
      <section class="post content">
      	   <p>
             If you have a question for me, feedback on some of my previous work, or
             any other reason to contact me, feel free to do so at this address:
             <a href="mailto:tylor@tylorlilley.com">tylor@tylorlilley.com</a>. I do my
             best to respond to all emails I receive. If you do take the time to email
             me for any reason, well shucks, I'm flattered. Thanks!
           </p>
      </section>
    </div>
  </div>
</div>
