<% provide(:title, "Contact") %>

<div class="container">
  <div class="row">
    <section class="post title">
      <%= tag.h1 "Contact Me!" %>
      <h2 />
    </section>
    <section class="post content">
    	   <p>
           If you have a question for me, feedback on some of my previous work, or
           any other reason to contact me, feel free to do so at this address:
           <a href="mailto:tylor@tylorlilley.com">tylor@tylorlilley.com</a>. I am
           not very active on social media, so good old fashioned email is definately
           the best way you can reach me with any concerns. That said, I do my
           best to respond to all emails I receive, so don't hesitate to reach out!
         </p>
    </section>
  </div>
</div>
