- provide(:title, "Privacy Policy")
.row
  %section.post.title.mx-auto
    %h1 Android App Privacy Policy
    %br
  %section.post.content
    %p
      Hey there! I sometimes make android applications. The applications I make are simple tools to assist in the randomized setup of various board games. If that sounds interesting to you, you can download them from my developer page on the Google Play Store,
      = link_to("here", "https://play.google.com/store/apps/developer?id=Tylor+Lilley") + '.'
      Obviously, I am an android user myself, as well as a software developer. I take my own privacy very seriously, and I completely endorse others to do the same! I have not programmed these apps to collect any personally identifiable information. All data (including app-specific settings and preferences) created by you within the app is stored on your device only, and can be simply erased by clearing the app's data or uninstalling it. The source code for these apps are available on GitHub, for even further transparency! If you have any questions or concerns about these apps, feel free to
      = link_to("contact me", "/contact")
      and let me know about it.