%p
  Another new version for all of yalls, more than slightly influenced by the rather crazy weather we've been having lately. Or maybe it was just the cool Rainymood.com a friend showed me recently. regardless, this version again is to make it look cleaner and more professional. You know the drill by now for reporting bugs and glitches. More info on the game for those of you who haven't given it the download is located below.
