%p Hello again everyone! I have been teaching myself Ruby lately, and I've updated the games section to include the small text-adventure game I made using the Ruby language. You can compete with friends to see who can get the highest score. Or just compete with yourself, if you have no friends.

- unless intro
  %p
    In case anyone missed it, I also took the time to add
    = link_to("Super Action Sports", "/games/super-action-sports")
    to the games section as well. This was the
    = link_to("capstone project", "http://web.cse.ohio-state.edu/~boggus.2/5912/GameGroups.html")
    I completed near the end of my time at OSU last fall. It was my first 3D game project, and it was a lot of work! You can check that out in the games section now too.
  %p In any case, thanks for stopping by! I hope some of you get a kick out of this update, now that there are more games to play. Stay tuned for more updates in the future, as I will continue to work on more projects as time allows!
