.container.post-image
  .row
    .col-12
      = image_tag(image_for(@post), alt: "A screenshot of the title screen of the classic version of Mighty Dive Bomber", title: "I'm so happy I'm crying. My little game is all grown up. Is this what parenthood feels like?")
%p
  Well, it's finally done. Mighty Dive Bomber, the faithful NES styled puzzle platformer is finally finished and available for download
  = link_to("here", "/games/mighty-dive-bomber-classic") + '.'
  (Note: I'm on vacation right now and my internet connection is flimsy. On top of that, the programs I usually use to update my website with things like this are flipping out. So, with the game being a somewhat larger file, I am temporarily going to host it's download out-of-site, on MediaFire. I apologize for any inconvenience this may cause, and I will change it once I get this figured out. But at least this way, you can still download it.) Do it! Download it now! In my totally unbiased opinion I have to say this is by far the best game I've ever made -
  %i far
  better and more complete than anything I've made before it. I'm extremely proud of it. So please, for my sake, download it and play it! I'll update with more about it later and I'll update the game page then too. For now, just download it and play this wonderful new gem I've concocted for you good people of the Internet.
