%p
  This is the new Tylor Zone. For now, there is not much here, but in a bit it should become a relatively weekly updated source of all things Tylor. If you can't wait to immerse yourself in the mystical culture that is The Tylor, might I suggest scouring the internet for all things Tylor, utilizing every tool available to you. Or you can stumble around in the confusing old site some more. Be patient, and chances are if you're on this webpage, you know The Tylor in real life, and he'll be more than eager to let you know when the updates have started poring in like some kind of biblically-proportioned flood.* Also, none of the above buttons work yet, but feel free to spend 30+ hours clicking them just for fun. I don't mind, really.

- unless intro
  %br
  %br
  .text-small * (Updates not likely to flow in at a rate describable by even a modern-day-proportioned flood. And that's in Findlay, too!)
