- unless intro
  .container.text-center
    %object{ height: "344", width: "425"}
      %param{ name: "movie", value: "https://www.youtube.com/v/38_a7bDS1nM?hl=en&fs=1"}/
      %param{ name: "allowFullScreen", value: "true"}/
      %param{ name: "allowscriptaccess", value: "always"}/
      %embed{ allowfullscreen: "true", allowscriptaccess: "always", height: "344", src: "https://www.youtube.com/v/38_a7bDS1nM?hl=en&fs=1", type: "application/x-shockwave-flash", width: "425"}

%p
  This is just a teaser. The real ones will be as awesome as last time and less filled with awkward silence, I swear it. I've had three separate people ask/encourage me to make these vacation videos again while I'm in Florida, and my mom was only one of them! With that kind of demand, you just
  %i know
  I'll be supplying. I can't promise them everyday like last time (that took a LOT of work and a LOT of time away from my vacation), but there will be more. Keep your eyes peeled, and tell your friends! Well, the ones who would care, anyway.
