%p
  I'm going to go ahead and skip right past the "Gee, school sure has been keeping my busy lately, I'm going to pretend that I will try to update more frequentlty now though!" introductory paragraph that is always mandatory when I've come back from not updating for a moth (see: september), so you can just go ahead and fill that in using your imagination right here.
%p
  Done? Okay good. Cause I want to talk about noses. Why is it that people's noses run when they're cold? I know It's not just me who's being a freak of nature on this one; I know plenty of other people who get all drippy when its cold out too. And before you accuse me of having terrible allergies (which I do), that's not it either. I know this because it doesn't matter
  %i when
  it is that I'm cold, my nose will always run eventually. It
  %i can
  be the chilly autumn months after a hot summer, where my allergies burn with their brightest passion. But it can also be a few good months after the first frost, where any living plant except Santa Trees have had their life forces extingueshed under a blanket of fresh white snow. Heck, I've even experienced in the dead of a blazing June after sitting in a way-too-air conditioned room for a few hours. You know the kind.
%p
  So, ruling out allergies, I am forced to ask what the cause of this phenomenea is. Being the wonderful scientist I am, I decided to follow the Scientific Method and make myself a hypothesis. It stands to reason that teh insides of human beings are delicate. All that fragile tissue and inner-workings are probably a lot more sucseptible to danger than the rough and gruff exterior of a human is. Therefore, while our naturally thick-skinned outsides can bear the brunt of the cold with ease, the ninety-eight degree insides cringe at the frezzing atmosphere. The only time it really has to deal with this is when our stupid lungs move around and inhale some stupid air and it freezes the sensitive tissues inside our head. Our major air hole, the mouth, is already pretty well equipped to deal with this sharp intake of cold, with plenty of saliva to insulate the more delicate parts of t=our insides from the harsh winds being blown into our usually closed system.
%p
  The runny nose, then, is our minor air holes doing the same thing: providing some insulation to protect our inner nostril tissue from the cold winds being drawn up into it. This is my hypothesis. In order to test it, I continued following the Scientific Method, and devised an  experiment. I'm going to stuff three or eight cotton balls up my nose and leave them there for a few days. Then, after a suffiecient time has passed, I will remove them from my nostrills. This will do two things:
%ol
  %li
    %strong Act as an insulator.
    If my hypothesis is correct, and the runny nose is a result of a reaction to try and keep the inside of the nose warmer, than the cotton balls should do that for it. It will stay nice and toasty no matter how hard I huff and puff on some sweet, sweet snowy air.
  %li
    %strong Act as an indicator.
    The cotton balls will also tell me if my hypothesis is correct or not. When removed, if the cotton is relatively dry, I will be able to conclude that the nose did not produce any snot because it was well insulated, proving my hypothesis that insulation is the reason it does so in the cold. And if the cotton is all soggy and dripping with my internal snot-juices, then I will be able to disprove my hypothesis, as the insulation did nothing, and I walked around with three or eight cotton balls in my nose for a few days for no reason.
%p
  Fool proof, isn't it? I imagine I'll wait until its just a little colder outside to begin this experiment, but once it hits November or December, you can bet you'll see me with some cotton in my nose. And now that the imagery of snotty cotten being slowly plucked from my nostrills has sufficiently grossed you out, that will serve as a good transition to the other reaosn for this update that's sure to gross you out: I updated the picture of my on the About Me page. Yep, say goodbye to Freshman Tylor, and hello to hot, studly, cotton-nosed Senior Tylor! (
  %strong WARNING:
  Looking at pictures of Tylor, with or without cotton in his nose, may result in vomitting and/or puking of the viewer. Viewer discretion is advised. Also please don't vomit on my website, pull open another tab if you have to.)
