%p
  Yeah, I know, I didn'y update on Friday. I hsould have put up some kind of disclaimer, but I've been rather busy in real-life lately, and I chose to take some time off of trying to update everyday to focus on things like Mafia and
  %i Forever December
  instead. I do have some ideas for future updates I want to get to (Ocarina of Time, one of my favorite games ever, was recently re-released for the 3DS and you can bet your butt I'll be doing a review chock full of babbling fanboy praise in the near future), but until things settle back down in real life (weddings, weddings everywhere! What is it about June and weddings!?), I'm going to take a break from the weekly updates.
%p
  So if any of you actually placed any bets, I guess you could say last Friday was the first time I failed. I mean, it's not like it really matters - nobody reads these things but a very close friend or two and my family. Part of the reason I did this was because I hoped daily updates would drive some traffic back to the forum - it followed logically that if people had a predictable scheduel to come back here for, and they were coming back here to see the new updates anyway, they would more likely come into the forums and see what's going on that way. The problem with my thinking there is that
  %i nobody cares enough to check out these updates anyway,
  so that would explain why my forums have been as dead as always too. But it's okay; I'm used to people not caring by now. I don't exactly give them any good reasnon
  %i too
  care.
%p
  In any case, I will begin updating weekly again next Friday, after the week long break is over.
