%p
  I just want to say thank you to everyone who participated. I hope you had fun! I certainly learned a lot in the making and executing of this; I really want to do another one in the future. I will most certainly do one again next Halloween, if I do one sooner than that, well... we'll have to see. The jury's still out on that one. But I learned a lot about how I could make it better and more fun for everybody involved. It would help me alot if the nine of you who played took a moment to fill out this
  = link_to("quick poll", "http://tylorlilley.freeforums.org/halloween-2010-puzzle-post-game-poll-t140.html")
  about the subject, but, none of you care about that; onto the results!
%p
  .container.post-image
    %table.table.text-center
      %thead
        %tr
          %th{scope: "col"} Full Name
          %th{scope: "col"} Level Reached
          %th{scope: "col"} Date of Achievment
      %tbody
        %tr
          %td Ethan G. Miller
          %td Level 4
          %td October 30th 2010
        %tr
          %td Franklin "Grant" Schrum
          %td Level 3
          %td October 30th, 2010
        %tr
          %td Sam A. Meiure
          %td Level 3
          %td October 30th, 2010
        %tr
          %td Danny P. Lilley
          %td Level 2
          %td October 31st, 2010
        %tr
          %td Michaela G. Marincic
          %td Level 2
          %td November 1st, 2010
        %tr
          %td Karissa B. Payne
          %td Level 2
          %td November 1st, 2010
        %tr
          %td Kristin I. Schmidt
          %td Level 1
          %td November 1st, 2010
        %tr
          %td Alexandrea "Lexi" Perrault
          %td Level 1
          %td November 2nd, 2010
        %tr
          %td Leah B. Cramer
          %td Level 1
          %td November 2nd, 2010
%p
  There's an interesting correlation here between how long someone waited to try the game/tell me the results and how well they did in general. Many of you asked me about what the prize was. It's pretty awesome, if I don't say so myself. But it's not quite ready to be revealed yet. You'll just have to trust me that I'm working on coding it and that all of you should be able to view it by this weekend - hopefully. Don't get too excited, it's not much, but it's all I've got to offer. So congrats! If you participated and told me about it, you're on this list. And if you're on this list you will be part of the prize.
%p
  To those of you who chose not to participate or were too busy Halloween weekend - try again next time! Just don't expect me to be quite as nice and award everybody who tried even a little like I am now. I decided to do this mostly because, looking back on it, the puzzle - while not bad mind you - could have been done much better in many parts. For one thing, I would have liked there to be more of a difficulty curve, with gradually more difficult puzzles starting you off easy and getting harder. Because I only had the idea to do this a week or so prior to Halloween weekend, it didn't give me much time to prepare, and I ended up making only 5 "levels" of puzzles, all about as equally hard or frustrating as the last. Unfortunately I think this discouraged many people from trying to solve it completely, which nobody did unassisted. This is an example of just one of the things I want to work better next time.
%p
  So, yeah, for all you winners and curious non-winners - check back later this week for your prize!
