%p
  The "About Tylor" section is up and the button is working, so feel free to check that out and read up on the heartbreaking story of discontent and accomplishment that splatters The Tylor's background. You can also see how The Tylor spends most of his time on the web by checking out the Links section which is mostly complete and fairly large. Have at it, kids.
