%p
  I know that one of my (many) weaknesses is my inability to spell words correctly. If you know me at all, you know that I'm a terrible speller, even at this ripe age of seventeen. As I continue to update this website regularly, this flaw is sure to show itself repeatedly, and spelling errors will be abundant throughout the archive. I want to take this time to give you a pre-emptory apology for this sure-fire happening. However, while I take responsiblity for this failure, I must insist that some words in the english language are spelled in a ridiculous fashion. I have reason to suspect that they are spelled this way solely to
  %i make me angry
  sometimes. Here's a list of five words that I've been notoriously bad with in the past and my suggestions on how any
  %i normal human
  being would have spelled them when they were first introduced to the english language.

- unless intro
  %ol
    %li
      %strong How it is spelled: February
      %ul
        %li How it should be spelled: Febuary
        %li
          %i I can't tell you how much of a brain-shock it was when I first found out that the month after January had another r in it. The sad part is, I only realized this during like, freshman year. Why?!? Why do this to poor, innocent children? There is no 'r' after the B in Febuary. And trying to pronounce it like there is an 'r' there makes me feel stupid and uneducated. Why should the spelling be any different?
    %li
      %strong How it is spelled: Frustrated
      %ul
        %li How it should be spelled: Frusterated
        %li
          %i I'm still guilty of this one all the time. Why have all those consonants together like that? 'str' ? It's hard to pronounce. It's Frusterating, is what it is. Besides, this way you can fit it in Weird Al's song
          = precede "(" do
            = link_to("Constipated", "https://www.youtube.com/watch?v=yedbCfDL0yY") + ')'
            (and whatever stupid orginal song he's parodying) in the main verse. "Now why'd you have to go and make me so frust-er-ated?" Try it, it's fun!
    %li
      %strong How it is spelled: Beginning
      %ul
        %li How it should be spelled: Begining/Begininng
        %li
          %i This is one I was still doing up through early Junior year, but I think I've got a hold on this one now. I never used to remember that there were two Ns in the word, and when I finally got that through my thick skull, I always managed to mix up which N went second. Finally I realized that the second N was part of the ING ending and so that one wasn't the double N, but still. If that second N was cut out it would have made my life a heck of a lot easier.
    %li
      %strong How it is spelled: Surprise
      %ul
        %li How it should be spelled: Suprise
        %li
          %i I've never been big into surprises to begin with, and the same is true for this word. It's like, "There's an extra, unnecessary 'R' in this word and so now you've spelled it wrong for the umpteeth time! Surprise!" Seriously, it's pronounced SUP - PRIZE not SIR - PRIZE. The rest of you are wrong and I am right.
    %li
      %strong How it is spelled: Weapon
      %ul
        %li How it should be spelled: Wepon
        %li
          %i This word just has two many vowels in it for a two-syllable word. Thankfully, I got a handle on this one before high school, thanks to a
          = link_to("certain friend", "https://tylorlilley.freeforums.org/memberlist.php?mode=viewprofile&u=53https://tylorlilley.freeforums.org/memberlist.php?mode=viewprofile&u=53") + "'s"
          constant pointing it out and making fun of me for it. Thanks man. Clearly, I can say, because I met you, I've been changed for good.
  %p I guess that's all for now. I feel much better having gotten some of this out of my system. Perhaps an accumulation of my mistakes will cause me to do this again sometime, but for now, I think those are the worst offenders. It just makes me so frusterated sometimes, but, I'll pull through for you guys. I know for a fact that ever since I started trying to post here more way back in Febuary, I've been repeatedly tainting this website with such spelling errors. Heck, even way back in the begininng I was screwing things up like that. It's just not one of my strengths, and I'm willing to admit that... although somehow, it still comes as a suprise to me every time I spell something wrong. It's enough to make me want to pull a wepon on somebody!
  %p In any case, I promise to do my best to make each post error-free... but just know that mistakes will be made. And when you cringe at my childish spelling errors, remember - I've already apologized, and so have every right to mess up however I want now. Have a good weekend! I'll see you again Monday.
