%p
  Hey everybody! I know there hasn't been any new content in a little while due to me having to focus a lot of my free time into my schoolwork during my first semester at college, but things are looking up! All that hard work payed off in that I now know a new programming language - C and C++! (And in the good grades I got too, I guess. But that's less exciting to me.)
%p
  I'm still just a novice, but so far learning it and playing around with what I can do with it has been a lot of fun for me. For example, this recent Christmas break, busy as it was with spending time with friends and family, gave me an opportunity to play around with it some more on my own, and I may or may not even have a little text adventure game in the works!
%p
  If I am able to finish it before this next semester again steals my attention then you will see it up here in a little while. If not... hopefully I'll find time to come back to it in the future. Anyway, I just wanted to let everybody know that I have still been working on things, and that I made it through my first semester at college just fine. Here's to a successful second!
