- intro = false if intro.nil?

%p Hey, just thought I'd remove the thing that said I was still on vacation, because yes, I am back now, and have been for about a week. I just haven't gotten around to updating because I've been so busy with it being my first week back in Findlay since I left and all. Anywho, I haven't got anything really important to update with, just a few bits of news. I am working on a few projects that have a chance of showing up here, if I ever get done with them. One is an art thing; a webcomic. The other is a new game I've been messing around with. But like I said, it's iffy as to whether I'll complete either of them. Just keep your eye out in case I do one of these days. That's really all I have to say for now, guys. Thanks for tuning in.

- unless intro
  %p
    Oh, and the
    = link_to("Hangman thread", "http://tylorlilley.freeforums.org/post1272.html#p1272")
    is up and running again. For those of you who like Hangman. Which should be all of you, seeing as if you're at this website you're probably my friend, and all of my friends better like Hangman. It's only, like, my favorite non-board, non-video game ever.
  %p
    So yeah. There's that. If you missed the 14 or so videos I posted everyday I was gone on vacation, you can find them all here in
    = link_to("this neat little shrink-wrapped package", "https://www.youtube.com/playlist?list=PL06CB7BDAF7BA6999")
    on my YouTube channel. Make sure you start with Monday though, at the beginning, It should be the first one that pops up in the sidebar there. And in case your wondering, I was true to my word in there, and the awesomeness that is Dr. McNinja can now be found via a link in the Links section above, of all places.
  %p
    Oh dang, I remembered one last thing. You know that chat feature I worked so hard to install last update? Ethan (JustIrie), my co-Admin for my forums, found a better one
    = link_to("built into the forum framework", "http://tylorlilley.freeforums.org/new_chat.php") + ','
    so you don't have to bother with making a second account on my website, one for chat and one for the forums. You can just use the forums one for both. So, while I like the look and design of the one I put up, I feel like more people will use the other one, especially since they don't have to make a separate account, which can be confusing, So if you haven't made a chat account over there yet, don't bother; it'll probably disappear in the next update or two, as the other one on the forums is more efficient.
  %p Well, I think that's it. Just had a lot of information to dump relating to the site, and I wanted it to stop lying and saying I was still on vacation, so that's really all there is to this update. Thanks guys!
