%p
  Well, one or two people made use of it, so I figured I'd shell out the extra twenty minutes or so it would take to make a negative ion version for those interested in studying this way. A few tips that apply to both of these little games:
%p
  %ol
    %li
      In order to save your high score, you must sign up for an account at Quizzlet.com. This is quick and easy, and once you have your own account, you can make your own flashcards and little game quiz things for other stuff in the future if you'd like, so I would recommended taking the few extra minutes to do this before playing. It'd be much more fun if there were more people's scores listed for everyone to try to beat.
    %li
      If you want to switch the terms and definitions, so that the symbols are scrolling by and you must type in the name or vice versa, you can do so by clicking on the "Show..." drop down bar right underneath where you type the answer. Personally, I think it's easier to type in the name of the ion then the chemical formula when under timed pressure like that, but wither way works and you get the same amount of points.
    %li
      If you need to study up in a less tense environment, online flashcard sets for both the positive and negative ions can be found by clicking on their respective "game" link and then clicking on the "<- Back to Set Page" link right inbetween where the terms are scrolling across and the "Space Race: Positive/Negative Polyatomic Ions" title.
%p
  Good luck to one and all, and happy studying! Hopefully those tips are new information to at least a few of you. Oh, yeah, and the "game" itself can be found here:
  = link_to("http://quizlet.com/2772500/spacerace/", "http://quizlet.com/2685524/spacerace/")
