- intro = false if intro.nil?

%p Well, hey guys. Its about time I didn't something new for your pleasure again, dontcha think? Well, What started as an idea for a simple music video concerning one of my favorite songs - one might even say it was my theme song - quickly developed into, well, this ten minute long video monstrosity...

- unless intro
  %p So, what do ya'll think? Should I do more videos like this? Do you like the music video aspect, or do you enjoy the "TheTylor" character (or both)? If you think I should make more videos that would fit into either of those categories, please let me know! The forums are there for a reason, you know. Or, if your shy, my email is always on the About Tylor page above. If I do something you guys like and ask for feedback, please give it to me when you like it (or when you don't like it), because otherwise I just assume the small amount of replies I get means that the idea was only so-so and didn't go over well with most or all of you. So if you like it, let me know!
