%p
  UPDATE: Latest Version:
  = link_to("Version 1.3.4", "/games/10-seconds-in-hell") + '.'
  If you do not have this version, your version likely has bugs. Get the latest version for the best play experience!
