%p
  I know what you're all saying. Seriously? More computer problems? I don't believe it. Well, it's true - the thing was on its last leg, and while I got two more weeks out of it after restoring it to working condition last time, it's completely dead now. So while I hunt for a new computer and get things resettled, please bare with me - after that, I think I might upload a beta version of a new game I was working on before my computer started acting up. In the meantime, I was finally able to upload all of the wonderful music from Findlay High School's lovely rendition of Godspell, which can be found at the YouTube channel below.
%p
  .container.text-center
    %iframe{ src: "http://www.youtube.com/embed/qWzkvrZykm0", height: "349", width: "425", allowfullscreen: "", frameborder: "0" }
%p
  This one is a personal favorite of mine, as the two people who performed it are very good people and perfomers, and they did a wonderful job with it. In other YouTube related news, you may or may not be interested in this music video for the Spanish Version of the song
  %i Cant Buy Me Love
  by The Beatles, made by me and some friends of mine for Spanish class. You can even see me in my starring role as a homeless man and hanging out way, way,
  %i way
  in the back during the "We're all a band!" Chorus parts of the video.
%p
  .container.text-center
    %iframe{ src: "http://www.youtube.com/embed/eC7pUX3i8hg", height: "349", width: "425", allowfullscreen: "", frameborder: "0" }
%p
  That's all for now. Once I get a good computer going, I will do my best to supply you with more fun internet entertainmet (or internentertainment, as it were), but so far I feel like I've done pretty good with updating more frequently while also having to juggle not having a computer to call my own. I'm going to chalk this one up as a win, so far.
