%p Just a small update to clear the page of all that chemistry stuff. If you ever want to study them again, I've added my Quizzlet account to the other accounts on the About Tylor page found by clicking the button above. I will continue to upload more flash cards as I see fit for other things that pop up during the year. If you would use them, and want me to make flashcards of something, let me know and I'll add those too. Now, for the real meat of this update:

- unless intro
  .container.post-image.text-center
    %i
      = link_to("https://www.tylorlilley.com/harlowsmonkeys.mp3", asset_path("harlowsmonkeys.mp3")) + '.'
  %p I'm not going to spend time explaining this at all. It has to do with the Harlow's Monkeys experiment I learned about in my Psychology class at the college; do a YouTube search to learn more about the experiment itself. Basically I though the way the guys spoke was really weird and would sound good remixed, and what I ended up with was this. Not so much a remix as the experiment's explanation put to a beat. It was my first time trying something like this, so it's not very good - but its only about a minute long, so give it a listen anyways. Maybe as I continue to play around with stuff like this I'll remix it again in the future and come up with a better, truer remix. If I do I'll be sure to share it with you all. L et me know what you think over at the forms or in an email!
