- intro = false if intro.nil?

- unless intro
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post), alt: "A screenshot of the Homestar the Runner game.", title: "Homestar the Runner Version 2.0")

%p
  Oh, another new game!
  %span.text-small Er... wait a minute... Purple Ninja was a remake of sorts... the Spelunky mods were edits from someone else's game... I think I see a pattern here.
  Oh, it's another cop out that I'll be passing off as a new game! If you don't remember Homestar the Runner, than that means you're not a member of my immediately family who I make check this website every few hours for new content and never played the original version back when I was doing those "Pocket Games." Oh the golden days of youth... anyway, I've revamped it a bit, and completely converted it from drag and drop code to spiffy GML code, which doesn't mean a lot to you, but is something that makes me giggle with glee. Give it a play or two and brag about your high score
  = link_to("here", "http://tylorlilley.freeforums.org/official-homestar-the-runner-thread-high-score-list-t97.html")
  \.
