.container{class: ("text-center text-large" unless intro)}
  FOLLOW MY CRAZY VACATION ANTICS
  = link_to("HERE", "https://tylorlilley.freeforums.org/tylor-on-vacation-screw-all-y-all-t103.html") + '.'

- unless intro
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post), alt: "A picture of the actor Matthew Fox being given a piggyback ride by the actor Jorge Garcia on the set of LOST with the caption ON VACATION.", title: "HIGH HO HURLEY, AWAY!")
