%p
  A new minigame that serves as a preview of the game engine I've been working on coding for the last couple of months. All of the code in the game has been done completely by me and completely by scratch. The name comes from one of my very early game maker games from way back when I first started game making. It was ground breaking for me in many ways, but was not a very good game in terms of the graphics or in terms of the gameplay. I will include it with the new game for the sake of showing how far I've come. This new minigame is a way for me to get some feedback on this new engine I've created.
%p
  .post-image.container{ style: "text-align: center; padding: 2%" }
    .row
      .col-6
        = image_tag(image_for(@post, 1), alt: "A screenshot of the Purple Ninja game.")
      .col-6
        = image_tag(image_for(@post, 2), alt: "Another screenshot of the Purple Ninja game.")
%p
  If you'd like to leave me your comments about this game, feel free to drop by the official thread for it on my forums
  = link_to("here", "") + '.'
  If you'd like to send me your comments in a more direct or more anonymous way, feel free to send me an email, which can be found on the About Tylor page. Now go on over to the
  = link_to("downloads", "/games")
  page and give this new game a try! But I warn you: it's a doozy. It'll take you quite a few tries. to win, most likely. But don't loose heart! Their fate rests solely on you!
