- intro = false if intro.nil?

%p
  Yeah, yeah, it's the start of school soon. Blah. If you think you feel bad, I am starting TWO schools, since I'm doing Post Secondary Classes at the University of Findlay this year too. Hopefully I will still have SOME free time to spend on the forum and chat, as well as work on projects and parcel out the occasional update on here every now and then. If you are a Findlay High Schooler, let me and all the others know what classes you have by posting your schedule
  = link_to("here", "http://tylorlilley.freeforums.org/schedules-for-the-2010-2011-school-year-t132.html") + ','
  where everyone can compare them side by side. Just be warned; mine is pretty wacky. It had to be to make the college classes work. I mean, I have a lunch only three days of the week...

- unless intro
  %p ...but honestly, I can't say if I like or dislike my schedule yet. It depends a bit on seeing what other people's schedule's look like, so I know who will be in what class with me. I also don't know how I feel about the PSO classes yet. I suppose only time will tell.
