- intro = false if intro.nil?

%p Welcome to the new version of my website! I hope you like the new look. While the last version had been updated here and there over the past few years, the last major overhaul was performed when I was in my senior year of high school. For those counting, that was seven (!) years ago. As such, a new coat of paint (that was more responsive and looked nicer on devices of all sizes) was desperately needed.

- unless intro
  %p Enter Ruby on Rails! I recently started a new job as a web developer for a company where their main language is Ruby on Rails. I've done a little bit with Ruby before, but never anything with rails. In fact, beyond a few years of vaguely related Salesforce development experience, I've never really developed web apps before at all. My history with programming definately lies much more in desktop applications, specifically games, and each page of my older websites have been pretty much purely handwritten HTML/CSS. Well, that's not the case anymore!
  %p
    Since I was already learning Ruby on Rails for my new job, I decided it could be good practice to try rebuilding my website as a web app (and it was long overdue anyway). The new site should be easier to update as a result, which
    %i could
    mean more frequent updates in the future. But no promises! If you find any bugs with the new version of the site, please reach out and let me know. I hope you guys like the new style, and I'll see you next update - whenever that may be.
