- intro = false if intro.nil?

%p That's right ladies and gents, The Tylor Zone now not only has some forums, but also a chat feature, at least for the time being. I have the upmost confidence in the fact that absolutely no one will use it, but hey! Why not leave it there, just in case, right? I mean; this is the perfect way for you guys to prove me wrong!  Unfortunately, you will have to register with the chat site in order to use it, but that shouldn't take too long, and I checked it out myself first and everything should be A-OK. In case your blind or something, it's the first button up there on the top now. Well, I gotta get back to vacationing now; bye y'all! Crazy vacation antics can still be found here for the rest of the week.

- unless intro
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post), alt: "A horizontally flipped picture of the actor Matthew Fox being given a piggyback ride by the actor Jorge Garcia on the set of LOST with the caption STILL ON VACATION!.", title: "STILL ON A HURLEY TOO")
