%p
  This version is not mandatory, but it should make the game easier overall. It includes the added ability to hold down the crouch button to scroll the screen downwards a few pixels, eliminating the need for the ugly chance-taking blind jumps. It also cleaned up a minor glitch present in version 1.6. Finally, Version 1.7 adds a full screen mode, so you can more clearly see the gameplay. Version 1.6 is still possible, but I would recommended downloading this version, if you haven't already, as it should be easier for you.
