%p
  And so it begins. For this first update I thought it would be fitting to talk about a tendency I’ve noticed about my own behavior. Perhaps I’m stupid and this is not a new discovery about human nature, or perhaps its something that’s just a problem for me, but in any case, I felt like sharing it now would be rather fitting.
%p
  When I get a new game or start on a new project, I’m always super excited about it. I can’t wait to keep playing it or working on it, and everybody around me knows what it is I’m currently “in to” because that’s all I really want to talk about. Today though, I want to talk about projects like games I’m working on or, well, this website, for instance.
%p
  I get an idea for something and I go through a few stages. The first stage consists of me coming up with the idea and going “Oh! That would be so cool! I bet I could do that! Yeah!”
%p
  Then I go through the second stage, where I hastily work on whatever it is, excited to get to the fun part and see the project to completion.
%p
  The optional third stage happens when I am interrupted by something – like my real life – during this second stage, and I can’t work on it directly but it’s still all I can think about. I talk to other people about it and brainstorm more ideas on what wonders it will contain. But eventually I always hit the fourth stage.
%p
  There always comes a point, sometimes sooner rather than later, where I get bogged down by all the little problems I hadn’t thought of in advance. “Oh, yeah… I didn’t think about that,” is a common utterance during this stage. Almost equally as common is the “Why isn’t this working!?” As, this is also the part where I could be working on something – especaillly if its computer related – and I can’t figure out why the computer isn’t doing what I want it to do. I get fed up with trying to make what I want to make, and instead begin to settle for working toward a goal. “Let me at least get this to work, then I can release it to ‘the public’ and take a break and come back to it later.” Rarely do I come back to it later. After all, I already told all those people about how great this thing was I was doing in step two, if I back down now just because I’m frustrerated they will all be so very disapointed.
%p
  So step five is the part where I’m not really doing it for fun anymore, but because I feel I have to. Then I usually forget about it fior long enough that next time I come to work on it I’m all excited about it again, having forgotten why it frusterated me to the point of quitting in the first place, or I just plain never come back to it again. This is why I sometimes see people like Notch (the creator of minecraft), dilligently working on honing his video game into a glourious masterpiece, and I get envious of… of what? Of their work ethic I guess.
%p
  So basically what I’m saying is, right now, for this ‘tri-weekly update’ thing I’m trying out, I’m in step two. How long do you think I’ll last until I run out of steam this time?
%p
  “But Tylor,” you ask, “Is there no way to stop this never-ending cycle of apathy?” Well, yes and no. I feel like maybe the key to being able to continue to be interested in what I’m working on is to stay excited about that. I may not be able to do that on my own, but I have noticed when other people are truly interested in it, and show me that there are curious and want to see me complete my work – that helps get me more excited about it again. It’s like, I know spending all this time working out why this stupid code isn’t working won’t be for nothing, so maybe I can just work this out and then it will be as awesome as I want it to be. So I see Notch with his thousands and thousands of fans and think “maybe
  %i that’s
  what keeps him going so hard for so long.
%p
  This of course is itself also a viscious circle. In order to produce more, quality entertainment I need more fans, but to get more fans, I need to produce more, quality entertainment. See what I mean? I know the simple answer is that I just need to stop being lazy and just not lose steam on my own, fans or no fans. And that’s what I’m trying to do with thi stri-weekly update thing. I feel like just maybe I’ll be able to restrict myself to updating every Monday, Wednesday, and Friday this summer, even if it’s just a little tiny update. I should be able to update with
  %i something.
  And if I succeed, maybe I will have more people checking back here regularly and using the forumsm and showing interest in what I’m doing, and it will be the oposite of that viscous circle. I will have more fans and be more motivated to make more things that get me more fans. It’s like… a tame square.
%p
  So here’s to hoping that I can still make myself do this well after I’ve hit step four. Place your bets for how long you think I’ll last over at my forums
  = link_to("here", "http://tylorlilley.freeforums.org/index.php") + '.'
