- intro = false if intro.nil?
%p Hi there. Are you one of the shambling thousands studying up on their positive ions for the first Chemistry test on Monday? What's that? You didn't even know there was a test? Well, there is! And now you to can join the shambling couple or a few I guess that are studying up The TheTylor way! TM Our Great and Humble webmaster has through the wonderful powers of web magic (and about a half an hour of his life) brought about a fun, game-like way to study your ions! Get the highest of scores! Brag when your friends suck! Study and maybe learn a little!

- unless intro
  .container.post-image.text-center
    %i "Play" the positive ion "game" here:
    = link_to("http://quizlet.com/2685524/spacerace/", "http://quizlet.com/2685524/spacerace/") + '.'
  I know studying and fun don't go together very well, which is why this really isn't too much fun. I mean, it's not a Mario game or anything like that. But it's better than the alternative, in my great and humble opinion. That said, the game will be a little hard if you haven't at least kinda looked over your positive ions first, so make sure to do that. Whether I make one for the negative ions, which are almost two times as long, let alone one that COMBINES BOTH will depend on how many actually use this thing. So please! Give it a try! The more people that use it the more fun it will be.
