%p
  I'm only about one thousand years late to the party but due to repeated confusions with impersantors making fake facebook profiles of myself, I thought it was best to just make a real one, in order to stop the impersonators - even if I don't use it much. So if you want updates on The Tylor Zone on facebook, follow me
  = link_to("here", "https://www.facebook.com/tylorlilleydotcom") + '!'
  %del I'll add a facebook button to this site somewhere soon when I have the time, too.
  I added a button up top; you can't miss it. Happy face-booking. I'm still figuring out how everything works, so if I don't reply to you that's why...
