%p
  New video is up. Sorry it took so long - I explain why in the video. For the rest of this week, just look for new videos on my youtube channel
  = link_to("here", "https://www.youtube.com/user/Tym7ue/") + ','
  as I won't be updating this website for each one. But the plan of attack is to put up another video tomorrow (Thursday), and then go for every other day after that. Keep on checking back!
