%p
  Merry Christmas and Happy New Year, everybody! I finally got around to giving the site a much needed cleaning up. As you can see, the old Chat and Forum links up top have been removed from the site. Why? The Forums and the Chat site located there officially kicked the buckt on November 19, 2011, due to inactivity. Don't belive me? Check out
  = link_to("this link", "http://tylorlilley.freeforums.org/index.php")
  to where the forums used to exist. If this news fills you with any amount of remorse, know that each and every one of you are fully to blame for this occurence, as even one post from any of you would have kept the thing alive for another month or so.
%p
  But I don't mean to sound bitter; what's done is done. Anyway, I got rid of the dead links. Also, I made a Facebook page for my site. I actually did this a month or two ago, but forgot to update my site to reflect this... as most of you probably know, as the page already has 33 likes and holy crap there are 33 people who even check this website? That's surprising. Anyway, if for some reason you want to, you can find this Facebook page on the button above (the more observant members of the audiance will also notice that the old giant facebook button that linked to my actual facebook page is now gone; it was pretty redundant with the new one I added here.).
%p
  Where have I been the last two months? Actually, working on a project. For those of you who weren't following me on Facebook yet, and rellying only on this site to follow my updates, I apologize; I did you a diservice by never posting about the project I was working on. In any case, if you are interested you can check out the Facebook page and learn more about it. For those of you that
  %i have
  been following it; rest assured that it is not finished and is going exactly according to my plan for once - though we are quickly approaching the ending.
%p
  Where do we go frmo here? Well, I'd like to redesign the website sometime - perhaps because the current website design looks so very bare now that all of those buttons and doo-dads are gone. But I probably won't get to that anytime soon. I have actually been working on a Game Maker game that, while isn't exactly
  %i new
  per-say, is new in the sense that I've been coding it from the ground up. Its pretty near completion, and I'll probably get around to finishing it and uploading it within the next month or so. Oh, and hopefully I will be doing some more blog-type posts where I just discuss whatever is going on in my life at the time (who am I kidding they will all be about video games), kind of like I did back in the summer, though without any regular schedule and in all honesty probably not nearly as often. I kinda sorta made it part of my New Year's resolution to be more active on here, so there's that too look forward to.
%p
  And that's it! I guess I'll be seeing you guys again soon?
%p
  %br
  .content.text-center.text-small
    P.S.: I added this cool new feature where you can just type in a month in the URL bar and the site will deliver you to the first post in that month free of charge! Pretty neat huh? You should totally pl;ay with it so the half an hour I spent coding that doesn't go to waste when no one ever has any reason to use it ever. Example: http://www.tylorlilley.com/2011/july
