- intro = false if intro.nil?

%p
  Hello again my loyal subset of friends, family, and that one internet stranger. Today I have a small update that will mean nothing to the most of you. I have spent a lot of time sharpening my Java skills in the past few months, and I took it upon myself to code a sufficient randomizer for
  = link_to("Kingdom Builder", "https://boardgamegeek.com/boardgame/107529/kingdom-builder") + ','
  as none of the other ones I found were up to my standards of randomization. In doing so I learned a lot about Java swing applications and embedding applets in an html page. It was quite fun, really! I mean, aside from all the hours of frustration and head banging that always accompanies working with code when you don't know what you're doing and are trying to teach yourself.

- unless intro
  %p
    If you've never heard of Kingdom Builder before, then you can check out its currently ongoing (until March 8th)
    = link_to("Kickstarter Page", "https://www.kickstarter.com/projects/queengames/kingdom-builder-marshlands")
    to find out more about the game. I will do my best to keep this thing updated as new releases/expansions come out, and I'm proud to say that it is equipped with quite a few ranomization options to use! If you're interested, you can play around with it over here. Thanks as always for checking in! Maybe the next one will be more relevant to you people... but I make no promises.
  %p
    %strong UPDATE:
    I have removed the Java applet version of this randomizer from my website. The good news is, a fully up-to-date and fully functioning Android App version has been published to the Google Play store. You can find that
    = link_to("here", "https://play.google.com/store/apps/details?id=com.tylorlilley.kbrandomizer2&amp;hl=en") + '.'
