.container.post-image
  .row
    .col-12
      = image_tag(image_for(@post), alt: "A screenshot of the Maze Game", title: "Truly a game fit for Benny Hill Theme music.")
%p
  First off, I want to apologize for updating yesterday instead of Monday. For whatever reason I got it in my silly little head that
  %i yesterday
  was the day I was supposed to update and not Monday. Stopping to think about it for even one second reveals the obvious - that that is wrong - but I did not do so until after the update yesterday, so I apologize. If you missed the last one because you didn't check yesterday because you didn't think there would be one yesterday because there wasn't supposed to be one yesterday, be sure to scroll down to the bottom of this post and clikc the little Previous button so as to see what you missed.
%p
  Secondly, we get to the meat of Today's update. I sat down and tried to make a game in thirty minutes. And, well... turns out this took less than that. Maze Game is my result! Have fun, and try and make it to the exit withou... er, getting frustrated and quitting, since you can't really die. In any case, if you want to you can
  = link_to("download it here", "")
  to play it. But if you'd rather go back to playing Ocarina of Time 3DS instead I'd understand.
