%p
  Do your eyes decieve you? Or is the title of this post advertising a classic NES style platformer based on everybody's favorite American Classic/Sophmore Honors Literature Book
  %i The Great Gatsby
  ?Yes, my friends, and the best news is that's
  %i availabe to play for free, online, right now.
  Simply head over to
  = link_to("Great Gatsby Game", "http://greatgatsbygame.com/")
  and start playing. Unfortunately it is a very condenced version; it only took me about half an hour to play through all four levels. But it achieves the basic idea - creating a game in the style of a classinc NES platformer based on Gatsby - in an awesome, awesome way. So seriously, check it out! Even if you don't normally like video games, you're sure to get a chuckle from the idea. :P
