%p
  As you may know, I completed a game for
  = link_to("Ludum Dare 33", "https://ludumdare.com/compo/ludum-dare-33/?action=preview&amp;uid=26293")
  a few months ago. Well, now you can download that game from my Games section on the left!
  = link_to("Check it out for yourself", "/games/a-harrowing-journey") + '.'
  I also took this opportunity to do some general maintenance around the website, including changing several of the other pages to make sure they contained only the most up-to-date information about me and what I have created. Feel free to check them out as well if you are interested.

- unless intro
  %p Thanks for stopping by!
