- intro = false if intro.nil?

- unless intro
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post), alt: "A black and white drawing of a 1950's gangster with the caption 'Mafia: A game of secrecy, anarchy, and life-saving prostitution'", title: "Mafia 2: Electric Boogaloo")

%p So Mafia. I thought I'd put down some of my thoughts on it now that it was finished, as well as let you people who haven't seen how the game yet experience it in story form for yoursleves. If you're interetsed in playing again, now is teh time to go on the forms and sign up! It's simple and easy, and it was a lot of fun; I think most everybody enjoyed it. There will only be a few things I want to try different next time.

- unless intro
  %p One of thsoe things is a secret ballot. A couple people asked me what I meant when I said I wanted to try a secret ballot next time; this is what I meant. During the lynching part, everyone's votes were visible. Next time, they will be secretly whispered or PMed to me somehow. This way nobody else can know for sure just who it is that everyone else is voting for, and this makes it harder to identify one clear voting block - the mafiosos - and the rest of the innocents going at it. Also, it adds a whole other layer of suspiscion and confusion and secrecy to the game, which I'm always for anyway. So I'm going to try it this way next time.
  %p The othe rbig change of course is that we're trying to get everybody together on the same night this time, rather then playing it spread out over many days. This is always how it was supposed to be played to begin with, but people I talked to prior to the last game were skeptical about how possible it would be to get everybody together like that. Since then many of you have assured me that it would both be more fun and more possible to do it that way, and so if you all are willing to give it a shot I am too - you just gotta help me out a bit more with getting all of you together and being committed to being there when you're supposed to.
  %p I think that's all I have to say about the first game and the changes being made before the second. I really enjoyed it; there were lots of funny behind the scenes action I got to to witness. I sincerly hope I can get all of you, and some of the new people maybe reading this, to play next time. It was fun! And it will be even more fun with more peopl! Tell your friends! Also, in an effort to show off our crazy mafia antics, here is the first game of mafia, boiled down narrator-wise:
  %p
    .container.text-center
      %strong Day 1 - Wednesday, June 15th, 6:00 AM
  %p
    %i The sun dawns on a the rural country town of Aifam, a bright light shining on the newest dead body found in the street, The townspeople, with the mafia members hidden among them, begin to fear for their own lives and bicker amongst themselves, ultimately deciding to lynch one of their own that they hope is really a mafia member in disguise.
  %p
    .container.text-center
      %strong Day 1 - Wednesday, June 15th, 8:24 PM
  %p
    %i Finding the young boy's lack of speech suspicious (He was born a mute to a poor single mother), the young Maxwell was lynched by a power hungry-mob, after some brief suspicion aroused by the self-condemnation of a certain Mr. Nicholas Blackburn, banker extraordinaire, was avoided.
  %p
    .container.text-center
      %strong Day 2 - Thursday, June 16th, 2:03 PM
  %p
    %i Quite a ruckus was heard in the night, and a certain half-naked prostitute was seen briefly running through the streets. It is unclear which house exactly she came from, but whoever it was made plenty of noise and woke almost the whole town.
  %p
    .container.text-center
      %strong Day 2 - Thursday, June 16th, 7:20 AM
  %p
    %i The following morning brought, much to everyone's surprise, no new deaths to the table. The citizens begin to feel at ease, all nine of them that are left, in thinking that perhaps the lynching of young Maxwell scared off the mafia menace from their peaceful town. They are quick to despair when they find that he was not a Mafia member after all, despite the wonderfully aliiteratory name Mafia Maxwell would have been. The Coroner report makes the young lad out to be, after all, just a poor mute child, who was not secretly packing heat.
  %p
    .container.text-center
      %strong Day 2 - Thursday, June 16th, 4:55 PM
  %p
    %i The nervous mob, itching to be rid of the mafia problem, opted to go about their lynching a bit earlier in the day today. Their unfortunate victim was the twitchy and nervous-looking Ethan Miller, a young college graduate who had happened to be passing through town at the outbreak of the mafia problem in Aifam. The poor lad was lynched after some scrutiny of both the cold and brewing Mr. Manning and the young and bloodthirsty little Leah Cramer, who both checked out - for now, anyway - in the eyes of their fellow townspeople.
  %p
    .container.text-center
      %strong Day 3 - Friday, June 17th, 5:35 AM
  %p
    %i Hoping to maybe awake and find none of their friends dead like yesterday morning, the townspeople are disappointed to find the body of the young and energetic Leah Cramer, her lively demeanor made forever still and her loud, eager-to-kill voice forever silenced by those in the mafia. For the rest of the townsfolk the new dawn was bittersweet, for the Coroner had been hard at work, diligently toiling away on the latest lynching victim. Much to the surprise of everyone, guns, knives, and all things mafia were found hidden on the supposed "college graduate's" body. It seems the foreign Mr. Miller that was "just passing through" was in fact a member of the mafia - if not the ringleader himself. Who knows? The excitement of the morning puts the townspeople on edge, the nervous energy filling the air, as the one question on everyone's mind remains unasked - just who will the mafia - and the mob, for that matter - strike next?
  %p
    .container.text-center
      %strong Day 3 - Friday, June 17th, 4:54 PM
  %p
    %i An certain young Carter Lilley, perhaps a tad too eager to be done with the lynching so he can go "swimming with his friend," brought out a lot of suspicion from the usually untalkative and calculating Mr. Manning and the aforementioned wealthy Mr. Blackburn. Together they will able to sway the crowd into lynching the poor young lad. At least now he can get to his swimming... his swimming with the fishes. Also notable was the silence of the usually fiery and enthusiastic Grant Schrum, who seemed to have been stricken with an illness making him not quite up to his usual task of shepherding the mob toward their lynching target of today.
  %p
    .container.text-center
      %strong Day 4 - Saturday, June 18th, 9:32 AM
  %p
    %i The next morning again brings bittersweet news to the citizens of Aifam. The young and innocent Carter Lilley was, surprisingly found to be a mafiaoso, with his bitter and darker side outlined thoroughly in the coroner's report for today. This leaves everyone pondering as to whether "swimming with his friend" was really talk for an assassination job, as it seems the young Mr. Lilley was in fact the mafia's main hitman, with quite the assortment of weapons found on his person during the coroner's examination of the body. His death may not have stopped the mafia from striking completely however, as a second body, that of the energetic Mr. Schrum, was found overdosed in his bed this morning. Questioning whether there was foul play was not needed however, as it was most certainly the mafia that was responsible for this crime.
  %p
    .container.text-center
      %strong Day 4 - Saturday, June 18th, 4:39 PM
  %p
    %i After a brief squabble, the remaining townspeople lynch the baffled and hollering old Samantha Mieure. Whether the old woman was right to have been suspected of being in the mafia or if the townspeople have just gone completely crazy from the pressure at this point will on be known in time.
  %p
    .container.text-center
      %strong Day 5 - Sunday, June 19th, 4:58 AM
  %p
    %i On this glorious Sunday morning, the townspeople wake to squeals of joy and rush to see that Old Ms. Mieure was indeed the final component of the Aifam mafia. The bitter old widow must have been holding a grudge for something, but for what we will now never know. The remaining townspoeple, pausing for a moment to cry for their fallen brethren, the fiery Grant Schrum, the bloodthirsty young Leah Cramer, and the poor mute boy Max, turn in time to celebrating their new-found security at home.
  %p
    %i The banker Mr. Blackburn, in a fit of joy, opens his banks coffers and purchases drinks and food for all around, and even the cold and stony Mr. Manning manages to crack a smile. He puts away his gun and detective badge long enough to join the others in their feast. Miss Francisca Abraham notices the stacks of money that one now drunken Mr. Blackburn is waving around, and decides to make a profit for herself, leading him away from the celebration to entertain him the only way she knows how.
  %p
    %i Old Coroner Kari nibbles at her celebratory food, closing her sunken eyes and smiling to herself - there will be no more dead bodies that she has to inspect for quite a long time, she hopes. Quite a long time indeed. And with all the food and money Mr. Blackburn has thrown around, there isn't exactly a pressing need to get another job either. Perhaps now she can retire, and have more time to finish planting the garden in her backyard she has dedicated to her deceased husband. He was the reason she became a coroner in the first place after all, those many years ago.
  %p
    %i Yes, indeed, it was a happy morning, and a happy afternoon soon followed, along with a happy evening, a happy week, and a happy year. The townspeople were forever rid of the evil that plagued them, and could now go on to live their happily ever after, dancing and enjoying life over the mass grave in which the "colledge student", "swimming enthusiast," and "kind old lady" now lay.
