.container.post-image
  .row
    .col-12
      = image_tag(image_for(@post), alt: "A screenshot of Gohma being defeated in Ocarina of Time for the Nintendo 3DS", title: "Truly a game fit for Zelda theme music.")
%p
  Happy July everyone! Yes, I know I missed last Friday's update and this one is late, but I have a good reason this time! I was at Cedar Point on Vacation with my family all weekened. It's true! You can ask them if you don't believe me!
%p
  And now it's July. Anybody else feel like the summer is slipping away? I do. In any case, today's update is a bit of a cop out I guess, but that's because I'm working on a new game! Yes, this one's actually fun! I promise! This doesn't mean that I've stopped working on Forever December completely, but I've taken a break from it for the time being. I was kind of discouraged by the fact that next to no one played or enjoyed it very much at all. I'll probably talk more about this new game in an update tomorrow, but for now, Ocarina of Time Boss Challenge Times! Yes, I'm still talking about this game. I love it, and it's my website, so shut up. If you have the game I'd love to hear what your times are! Come on by the forums and leave a post with them or something so others can compare and contrast their times. I dare you to try to beat mine:
%p
  .container.text-center
    %strong Gohma
    \- - - 00:24.50
    %br
    %strong King Dodongo
    \- - - 00:39.43
    %br
    %strong Barinade
    \- - - 01:27.63
    %br
    %strong Phantom Ganon
    \- - - 01:24.00
    %br
    %strong Volvagia
    \- - - 00:39.80
    %br
    %strong Morpha
    \- - - 00:52.96
    %br
    %strong Bongo Bongo
    \- - - 00:42.90
    %br
    %strong Twinrova
    \- - - 03:18.00
    %br
    %strong Combined
    \- - -
    %strong 09:29.22
    %br
%p
  The combinded time here is all of the seperate times added together - NOT the Boss Gauntlet. I haven't completed that one yet, and I'm kind of very annoyed by the way Nintendo implemented it, with a lot of your ability to do well based on the random chance and luck of what you find in the chest after defeating a boss. As far as I can tell they change each time, unless I'm missing something. I don't like that. King Dodongo kind of takes a
  %i lot
  longer to kill when you have no bombs... but I digress. More on that in a different post someday maybe (probably not). Now go out there, play Boss Challenege, and tell me your times!
