
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-04-22")

%p
  I finished Stranger of Paradise: Final Fantasy Origin a few days ago. The original Final Fantasy for the NES is one of my favorite games of all time, so it was a great to see it get a full on 2022 spin-off game like Stranger of Paradise.

- unless intro

  %P
    I don't usually play games that are this new - shout out to @lilley.video for reminding me this was even coming out or I would have forgotten all about it. It was a little tough to get into as someone who doesn't play games like this a lot, but once I got the hang of it I found the combat to be pretty fun. Its definitely not the kind of game I would have went looking for on my own, but I couldn't NOT play the first new game related to the world of the original Final Fantasy!
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"