
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of Tylor holding a PS5 controller in front of a TV displaying gameplay of Astro's Playroom")

%p
  As a happy new owner of a PlayStation 5, I 100% completed Astro's Playroom! For a free pack in gane this was a pretty fun little adventure. Obviously leaning heavily on PlayStation nostalgia, but what can I say - it worked on me. Some of the references were pretty deep cuts! Now to play some meatier games on this thing.

- unless intro
  %p
    Thanks again to
    = link_to("@vinnydes_", "https://www.instagram.com/vinnydes_/")
    and 
    = link_to("@tgpersico", "https://www.instagram.com/tgpersico/")
    for helping me finally acquire one!
  %p
    .container{class: ("hashtag")}
      ="#PlayStation5 "
      ="#PS5 "
      ="#AstrosPlayroom"