
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-04-28")

%p
  I completed Mega Man Battle Network after playing it off and on for months. I had never played this series before and I picked it up when my pocket first arrived in December!

- unless intro
  %P
    The gameplay was a pretty neat blend of rpg combat and action, as well as small bit of... deck building? The battles weren't all that hard or challenging, but they were fun! I don't think there was a single boss I had to fight more than once. I could say the exact opposite of navigating the labyrinthine levels between combat though; a lot of struggle and not a lot of fun to be had there. In fact, that's mostly why it took me so long to actually finish, I think.  %P
    I had no idea just how many games were in this series before I started looking into it either. The story was cute, but nothing to write home about - I'm amazed they seem to have stretched it out for like seven more games! Some of the anachronistic ideas of what future technology would look like was quite charming to see though - this semi-digital future still had a lot of things that looked like 2001 in it...  %P
    I don't know if I'll play the second one - maybe if the out of battle segments are a little but less annoying to traverse - which is something I've supposedly heard got ironed out as the series progressed - it will be worth giving it another shot.  %P
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#AnaloguePocket "
      ="#GameboyAdvance "
      ="#MegamanBattleNetwork"