
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of the japenese box of Kururin Squash! for the Gamecube, a japanese Kuru Kuru Kururin GBA cartridge, and an Analogue Pocket displaying the title screen of Kuru Kuru Kururin for the GBA")

%p
  I 100% completed Kuru Kuru Kururin for the Nintendo Game Boy Advance!

- unless intro
  %p
    This game is SUCH a hidden gem. It was a launch title for the GBA in Japan and Europe in 2001, but it was never released over here. And the two sequels (also pictured here) were never even released outside of Japan! Now that I've beaten it I can look forward to trying those out as well at some point in the future.
  %p
    I had never played this game until a couple of years ago when I was first getting back into the GBA and looking through its library for underrated games I'd never played. I wasn't expecting to like it very much going into it, but I ended up absolutely loving it - it was super addicting!
  %p
    I didn't QUITE manage to 100% complete it back then, though, because this game gets HARD. It's as challenging as it is simple. A full completion includes getting a Perfect run through every level and also beating all of the insane Master difficulty times each level has. I am proud to be able to say I succeeded here - getting this to 100% was one of the hardest things I've ever done before in gaming!
  %p
    Definitely recommend the game to anyone looking for a game that's easy to pick up and get into but will give a mean challenge to test your reflexes against.
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#GameBoyAdvance "
      ="#AnaloguePocket "
      ="#KuruKuruKururin "
      ="#GameOfTheMonth"