
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2021-12-19")

%p
  It's a tradition of mine to play through Super Mario Land on any new Game Boy that can run it... Looks like the Analogue Pocket passes that test!

- unless intro
  %P
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#Gameboy "
      ="#AnaloguePocket "
      ="#SuperMarioLand"