
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-05-09")

%p
  I finished Minit for the Nintendo Switch! This was a super cool little indie game where you die every sixty seconds. I enjoyed it enough that I ended up beating both the normal mode and the much harder Second Run with 100% completion. I had to look up the locations of the last couple coins to get that sweet 110% though - some of those were pretty deviously hidden!

- unless intro

  %P
    This was a creative game that very much reminded me of the kinds of games I would make myself in Game Maker - with a decent amount of additional polish, of course. I highly recommend it if you have a few hours (and dollars) to kill.
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"