%p
  Hello again! This is just a quick update to say that I have updated the
  = link_to("Tiny Towns randomizer", "/randomizers/tiny_towns") + '.'
  The randomizer now has support for the first expansion, Fortune, and the first promo cards released for it so far. I plan to update it again soon once I get my hands on the second expansion, Villagers, which should be releasing soon.

- unless intro
  %p
    Along with this update I have changed up the back end of the randomizer in order to utilize a cookie that can persist the last randomized state. The plan is to possibly use the groundwork laid by this update to implement some online versions of other randomizers I created android apps for in the past, namely:
    = link_to("Kingdom Builder", "https://boardgamegeek.com/boardgame/107529")
    and
    = link_to("Talisman", "https://boardgamegeek.com/boardgame/27627/") + '.'
    I don’t have any sort of timeline for when this might occur, but at least the groundwork has been laid! Let me know if there are any other games you’d like to see randomizers implemented for, and I will add them to my list. That’s all for now!
