
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of pictures showing Super Mario Land for the Game Boy running on the Analogue Pocket")

%p
  It's a tradition of mine to play through Super Mario Land on any new Game Boy that can run it... Looks like the Analogue Pocket passes that test!

- unless intro
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#Gameboy "
      ="#AnaloguePocket "
      ="#SuperMarioLand"