
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2024-07-03")

%p
  It's just about the 20th anniversary of the release of Mario Pinball Land for the GBA. Everyone's favorite and most fondly remembered pinball adventure game set within the Mario universe.

- unless intro
  %p
    I recently got a personal high score of over 50 million (with no save states/funny business). For contxet the number one slot on the high score board comes preloaded as a score of 10 million. So it's a lot higher than that; a pretty inhuman number. It took about 6 hours of (non-continuous) playtime without getting a single game over and while collecting 100% of the possible collectibles in one go. I probably could have gotten to a maxed out score counter (at 99 million and some change) by continuing to just grind out points 100 at a time on bumpers and things before completing the game's final boss but I was satisfied without putting in the many more hours of time necessary to do that 😅  %p
    .hashtag RetroGaming 
    .hashtag GameBoyAdvance 
    .hashtag MarioPinballLand 
    .hashtag SuperMarioBall