
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-08-13")

%p
  I finished in first place in every  championship in Wave Race 64, including the unlockable Reverse mode!

- unless intro
  %p
    This game is fantastic. I had never played it before I tried it last summer, shortly after moving into my first house and setting up the CRT gaming room. As someone who isn't usually into racing games, I was blown away by how hooked I became on this one. The water physics are still impressive all these years later - even more so, knowing that this was a launch title for the N64 and therefore one of the very first N64 games released. I was hooked enough to complete each championship up through Expert mode last summer, and now I've come back to finish the job by completing the unlockable Reverse mode!  %p
    In general this game has a really amazing presentation. The graphics and sound design work together to provide an extremely comfortable summer vibe that was easy for me to get lost in as I got used to the controls. It's probably what had me so hooked as to eventually take on the challenges up through Expert mode, to be honest. I'm sad I missed this one as a kid, but I'm very happy I got to play it now - and I highly recommend it!  %p
    .hashtag CRTGaming 
    .hashtag RetroGaming 
    .hashtag Nintendo64 
    .hashtag WaveRace64