
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of Tylor in front of a CRT displaying the end screen of Super Mario Bros. 2 for the NES")

%p
  "Woah! I beat Super Mario Bros. 2 for the NES on my first try. I wasn't expecting that!

- unless intro
  %p
    I actually liked this version a lot better than Super Mario Advance for the GBA. The physics felt less slippery and the increased screen size was nice too, but the big thing that changed was that there was actually some challenge to this version! I can't believe how many health pickups were added to the GBA version compared to the original...
  %p
    The additional collectables in the GBA version like the Advance Coins and the Yoshi Eggs were neat additions, but kind of a chore to collect at times. It seems like a fine tradeoff to lose out on those things when the alternative is that I actually had a lot of fun playing this version.
  %p
    I played through it just using Mario, but I liked it enough that I might play it again and give some of the other playable characters a shot! I guess I do like Super Mario Bros. 2 after all. Who knew?
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#CRTGaming "
      ="#NES "
      ="#SuperMarioBros2 "