
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of Tylor dressed in a Crash Bandicoot themed ugly Christmas sweater, shrugging, in front of a CRT displaying a 106% complete file selection screen for Crash Bandicoot: The Wrath of Cortex for the Playstation 2")

%p
  An ugly Crash sweater for an ugly Crash game... I completed Crash Bandicoot: the Wrath of Cortex for PS2 with 106% Completion!

- unless intro
  %p
    I remembered playing this one on the Gamecube as a kid who didn't know any better and enjoying it. But now, did it not hold up at all! This one was rough. This is the first mainline game to NOT be developed by Naughty Dog, and it shows. 
  %p
    The controls are slippery and just don't quite feel right. Every other level introduced some new vehicle or gimmick and basically none of them were fun. Even the platforming levels tended to drag on and on (those monkey bar segments are PAINFULLY slow for NO reason). The loading times were AWFUL, even on the Greatest Hits version that I played that supposedly cut them down to about 1/4 of what they originally were. Even the story is bland and repetitive and uncreative, and the one thing this game was SUPPOSED to at LEAST have over the originals as an early PS2 title - the improved graphics - don't even look better than what Naughty Dog was able to squeeze out of the original PlayStation in a lot of places.
  %p
    On top of all that, the levels themselves were almost TOO easy, with enemy placement that you could just walk right around. I ended up getting the box gem AND the Crystal (and sometimes even a colored gem as well!) all in one go on EVERY single level I played.
  %p
    Because of those gripes, the time trial relics were extremy frustrating to acquire here. And I think the game knows it too, since it only requires you to get a Sapphire relic on each stage for full 106% completion instead of at least Gold relics like in Warped and CTR. I did NOT go the extra mile and get Platinum Relics on every level this time. The times themselves were all over the place and I even got some Platinums on my first attempt completing a level!
  %p
    All in all, not a good game, let alone a good Crash Bandicoot game. I would not recommend it!
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#CRTGaming "
      ="#CrashBandicoot "
      ="#WrathOfCortex "
      ="#PS2 "
      ="#PlayStation2 "
      ="#PlayStation "
      ="#CrashBandicootTheWrathOfCortex"