
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-09-24")

%p
  I beat Mega Man III for the Game Boy!

- unless intro
  %P
    Yep, that's Mega Man III and NOT Mega Man 3. Capcom made these Game Boy Mega Man games that were titled with Roman Numerals and contained remixes of 4 Robot Masters from two different NES Mega Man games. In this case, Mega Man III contains robot Masters from Mega Man 3 and Mega Man 4. Confusing, I know - they should have just called this Mega Man 3.5!  %P
    Wow this game was hard. It was a decent challenge throughout, but then I got to Dust Man's stage and then the final Wily Fortress (Dive Man wasn't so hot either), and the challenge went through the roof. It's been awhile since I've played Mega Man on the NES... was it always THIS cruel and painful to get through!? I certainly don't remember it being that way.  %P
    If you asked me at the begining of the month whether I thought I'd have more fun with Mickey Mouse Magic Wands or Mega Man III, I would have put all my money down on Mega Man. But Nope! I could barely finish this one, I was having that little fun with it by the end. It's crazy how you never really know what you're going to get from games as old as these!  %P
    Anyway, unless you're a die hard Mega Man fan (or a masochist), I wouldn't recommend this one...  %P
    .container{class: ("hashtag")}
      ="#AnaloguePocket "
      ="#GameBoy "
      ="#RetroGaming "
      ="#GameOfTheMonth "
      ="#MegaMan "
      ="#MegaManIII"