
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-08-07")

%p
  I finally finished Bowser's Fury on Nintendo Switch! The Super Mario 3D World port was my go to game for playing when I was sick for awhile. Most of it was pleasantly easy, and Mario equals comfort gaming for me. And when I'm a bit out of it, comfort gaming is exactly what I'm  looking for.

- unless intro

  %P
    But despite 100% completing that port (including beating every level with all 5 playable characters) around this time last year, I had never dipped my toes into the new Bowser's Fury mode. It was a fun little diversion and exactly the level of challenge I was looking for while recovering from covid this past week, so I'm  glad I saved it until then.
  %P
    That said, it made me really pine for another 3D Mario more in the style of 64 and Sunshine. Even Odyssey, the newest Mario release which came the closest, is coming up on being 5 years old this October! Man, time flies. Hopefully Nintendo has been working on another attempt in secret and we won't  have to keep waiting until a Switch 2 launches to see Mario in a main title (that's not a port or a remake) again.
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"