
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-10-12")

%p
  I collected every Platinum Relic, unlocked every racer and battle arena, and got 101% completion in Crash Team Racing's Adventure mode! @lilley.video still has a ways to go on his childhood save file if he wants to catch up, though...

- unless intro
  %P
    This one was a pleasant surprise. I remember playing this one as a kid, but I expected to find it to be a mediocre Mario Kart clone when coming back to it as an adult. Boy was I wrong! This is a fantastic kart racer. Dare I say better than Mario Kart 64 itself?  %P
    I loved how much there was to do in this game as a single player. The adventure mode was great fun and the relic races were a perfect way to put a Crash Bandicoot spin on the idea of time trials. There were also more traditional cups to play through in the Arcade mode. Playing through all four on easy unlocks a normal difficulty, and playing through all of them on that unlocks a Hard difficulty (that I ALSO completed them all under). And I haven't even mentioned the Time Trials!  %P
    In order to unlock my favorite character as a kid (Dr. N. Tropy), you must get a fast enough time on the time trial for each course to unlock the CHANCE to race against his ghost. THEN you must beat his ghost on each track - which was not an easy feat! This technically unlocks an even harder time to try for by racing against Oxide's ghost, but I didn't even attempt those ones. Too crazy for me - and you don't even really unlock anything for beating them!  %P
    I ended up having way more fun with this than I expected, and it was a great send off to a fantastic series of games on behalf of Naughty Dog. The real question is... dare I venture into the dark waters of Crash games made AFTER the franchise started to be kicked around to other developers? There's only one more Crash game on the original PlayStation, so maybe I should start there... OR, I could play the real next attempt at a follow-up to the core Crash gameplay and try Crash Bandicoot: the Wrath of Cortex for the PS2. Or I could just skip to the one other Crash Bandicoot game I remember playing a lot of growing up and see how it holds up... let me know what you think!  %P
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#CRTGaming "
      ="#CrashBandicoot "
      ="#Playstation "
      ="#CrashTeamRacing"