
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2021-12-27")

%p
  Wario Land 4 is one of my favorite video games of all time, and being released in 2001, it turned 20 years old this year. To celebrate this anniversary, the first full-fledged romhack of the game - Wario Land 4: Parallel World - was released in August. I saved the experience of playing it until I got my Analogue: Pocket so it could be my first experience with a GBA game on the system - and so I could enjoy something a bit different rather than just replaying Wario Land 4 for the twentieth time. And boy, am i glad I did! I 100% completed it on Hard difficulty over the past few weeks. It was a great experience and one I'd recommend to any fan of the Wario Land series still itching for more content!

- unless intro

  %P
    .container{class: ("hashtag")}
      ="AnaloguePocket "
      ="GameboyAdvance "
      ="RetroGaming "
      ="Wario "
      ="WarioLand4"