
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of Tylor in front of a CRT displaying a 105% completion screen for Crash Bandicoot 3: Warped")

%p
  I got full 105% Completion in Crash Bandicoot 3: Warped - Including all 30 Platinum Relics, plus two more from the secret levels!

- unless intro
  %p
    This was the Crash game I played the most growing up, and I have very fond memories of it. However, I never actually managed to fully complete the original PlayStation game before - I did a full clear of the remake that was part of the N. Sane Trilogy when that came out a few years ago, but that's it. So this was a first for me!
  %p
    This was a great game to come back to, even if much more of this game is not the standard Crash Bandicoot platforming compared to the first two Crash games. By my count, with 4 motorcycle levels, 4 jet ski levels, and 3 biplane levels, that's about 11/32 or a little over 1/3 of the game that's not even platforming in any way.
  %p
    This game was MUCH harder to fully complete than Crash 2 was, since now the Time Trial Relics were thrown into the mix. And I didn't just go for Sapphire or Gold - I got all 32 PLATINUM Relics, which only made it even harder on myself. I even earned the Platinum Relics for the secret levels using the originally intended lower time limits and not the bugged higher ones that exist in the NTSC release of the game. Full dedication!
  %p
    At this point, I have to go back and 100% complete the original Crash Bandicoot next, right?
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#CRTGaming "
      ="#Playstation "
      ="#CrashBandicoot "
      ="#CrashBandicoot3Warped"