
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-09-29")

%p
  I finished the original Crash Bandicoot with 100% Completion!

- unless intro
  %p
    This game was MUCH harder to fully complete than the next two games in the series were. This first game requires you to break all crates in a level WITHOUT dying in order to get that level's box gem, which is great deal more challenging than the essentially unlimited chances one gets in the follow up games.  %p
    It's definitely a bit more unpolished in places, and more antiquated than it's successors in terms of general game design. It's a much slower paced platformer that requires you to approach it with more calculated caution than the other crash games - but that's not necessarily a bad thing! It may be less user friendly in places, but if what you want is a tough as nails platformer that's boiled down to only the simplest necessary controls, the original Crash Bandicoot definitely still holds up!  %p
    That's all she wrote for the original Crash Bandicoot trilogy developed for the PlayStation by Naughtys Dog. Hard to believe all three of these games came out basically within one year of each other...  %p
    But there was ONE more game they developed with the Crash Bandicoot IP before it started to be passed around to different developers. At this point, it'd be a crime not to play that game too and finish our the entirety of Naughty Dog's run with the bandicoot... right?  %p
    .hashtag RetroGaming 
    .hashtag CRTGaming 
    .hashtag Playstation 
    .hashtag CrashBandicoot