
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-01-08")

%p
  Krazy Racers for GBA. Completed all cups on the hardest difficulty, unlocked all hidden characters, got 1st in all the time trials, and achieved S Rank.

- unless intro
  %p
    This was a fun little Mario Kart clone! It was very weird to see Konami characters like Grey Fox and Dracula in a cutesy setting like this. I never would have given this a chance if it wasn't a part of the Gameboy Game of the Month contest, but it was actually a lot of fun! It's making me wonder if I should go back and give Mario Kart: Super Circuit another shot, since I remember not loving that game as a kid. Maybe that's what I'll play next!  %p
    .hashtag RetroGaming 
    .hashtag GameboyAdvance 
    .hashtag GameOfTheMonth 
    .hashtag AnaloguePocket 
    .hashtag KrazyRacers