
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-06-01")

%p
  I got the platinum trophy for Hitman Go: Definitive Edition on PS4. I was a big fan of Lara Croft Go by Square Enix Montreal and have been getting into the Hitman trilogy of games for the PS4/PS5 over the past few years, so it was fun to dive into their previous project that was a mix of the two!

- unless intro
  %P
    Overall it was a pretty straightforward puzzle game experience - nothing too challenging or unique here. But it had a stylish presentation and I enjoyed chipping away at it in the background over the past few weeks! I think I enjoyed Lara Croft Go more between the two, but I'm happy to have played it.  %P
    This version of the game is available on PS4 (but not on PS5, sadly) - which is also how I played Laura Croft Go - but they began life as mobile games and can still be played on a phone or tablet near you. Give it a shot if it looks up your alley at all!  %P
    .container{class: ("hashtag")}
      ="#PS4 "
      ="#Hitman "
      ="#HitmanGo"