
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-05-07")

%p
  As a happy new owner of a PlayStation 5, I 100% completed Astro's Playroom! For a free pack in gane this was a pretty fun little adventure. Obviously leaning heavily on PlayStation nostalgia, but what can I say - it worked on me. Some of the references were pretty deep cuts! Now to play some meatier games on this thing.

- unless intro
  %P
    Thanks again to @vinnydes_ and @tgpersico for helping me finally acquire one!  %P
    .container{class: ("hashtag")}
      ="#PlayStation5 "
      ="#PS5 "
      ="#AstrosPlayroom"