
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of Tylor in front of a CRT displaying the end screen of Adventures of Lolo 2 for the NES")

%p
  Completed Adventures of Lolo 2! 

- unless intro
  %p
    Despite my love of the first game I had never played much of the sequel. Aside from a few neat graphical improvements, it's very much just more puzzles for the original without much in the way of new mechanics. Highly recommend it if you enjoyed the first one!
  %p
    .container{class: ("hashtag")}
      ="#NES "
      ="#RetroGaming "
      ="#CRTGaming "
      ="#AdventuresOfLolo "
      ="#AdventuresOfLolo2"