
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of an Analogue Pocket displaying the title screen of Dangan, a Gameboy Pocket displaying the title screen of The Bouncing Ball, and a series of Gameboy, Gameboy Color, and Gameboy Advance cartridges")

%p
  I came in second place in a year long Game Boy competition I participated in throughout 2022!

- unless intro
  %p
    The r/GameBoy subreddit holds a year long Game of the Month competition each year, and I participated for the first time last year. Competitors are tasked with playing the game (or games) and completing them from start to 100% completion finish all within the month to get the most points possible - with a few additional competition points available along the way.
  %p
    I was able to fully complete every game in all 12 months except for Dangan. But it's okay - I won an extra point that month during the The Bouncing Ball marathon mode competition! All in all I ended up with 24.5 points, just one point shy of the first place finisher's 25.5, and placed 2nd out of 65 total participants.
  %p
    It was really fun to participate in something like this, but it was definitely a lot of work to keep up with. Most of my video game free time in 2022 went to whatever game was picked for each month and did not leave me much room for playing anything else. By the end of it I was excited to be done and have more freedom with what games I could pick to spend my time on. As such, I don't think I'll be fully participating again in 2023 - but I'm glad I got to commit to doing something like this at least once!
  %p
    I posted each game I completed here with the 
    .container{class: ("hashtag")}
      ="#GameOfTheMonth hashtag each month if you are curious to see my thoughts on each of the individual 16 games depicted here. In retrospect, it was a great way to get to play some games I'd never heard of and ended up really enjoying like Krazy Racers or Toki Tori, and a good excuse to revisit some old favorites like Mother 3 and Kuru Kuru Kururin. If this sounds up you're alley, I'd suggest checking the 2023 competition out over at r/GameBoy!"
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#GameOfTheMonth "
      ="#GameBoy "
      ="#GameBoyColor "
      ="#GameBoyAdvance "
      ="#AnaloguePocket"
  %p
    .container{class: ("hashtag")}
      ="#KrazyRacers "
      ="#MarioTennis "
      ="#AdventureIsland "
      ="#AmazingPenguin "
      ="#Mother3 "
      ="#WarioLand3 "
      ="#LockNChase "
      ="#KirbysStarStacker "
      ="#KiruKuruKururin "
      ="#SurvivalKids "
      ="#MickeyMouseMagicWands "
      ="#MegaManIII "
      ="#Dangan "
      ="#TheBouncingBall "
      ="#TokiTori "
      ="#DragonWarriorIII"