
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-12-11")

%p
  I finished Katana Zero for the Nintendo Switch!

- unless intro

  %P
    This was a wonderful little project from 2019 and I can't wait for the DLC that's still in development to come out! I first played this in May of 2020 and it's an experience that's short but VERY sweet. It was just as much fun to come back to it this time as it was to play then.
  %P
    The mood and atmosphere of this game are impeccable - and that's not something I say lightly. The visuals and the soundtrack are amazing and do a lot to immerse you in it's world.
  %P
    The gameplay itself is simple and nothing incredibly new, but it IS a very solid version of that classic action platformer formula. The controls are tight, and there were only one or two small areas I found frusterating while playing; overall it was a very polished experience.
  %P
    I highly recommend this one!
  %P
    .container{class: ("hashtag")}
      ="IndieGaming "
      ="NintendoSwitch "
      ="KatanaZero "
      ="Nintendo"