
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of Tylor in front of a CRT displaying the end sreen of Adventures of Lolo for the NES")

%p
  Cleared Adventures of Lolo in one sitting. Always been one of my favorite games. Was one of the main inspirations for the Mighty Dive Bomber game I made way back when!

- unless intro
  %p
    .container{class: ("hashtag")}
      ="#NES "
      ="#AdventuresOfLolo "
      ="#crtgaming"