
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of a modded Game Boy Color displaying the end screen of Link's Awakening Deluxe for the GBC")

%p
  I don't know what made me start playing Link's Awakening again, but before I knew it I had played through the whole thing. And I did it with zero deaths and 100% completion this time! It looked great on my GBC with an IPS screen installed and its island vibes went perfectly with the Great Wave shell!

- unless intro
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#Gameboy "
      ="#GameboyColor "
      ="#Zelda "
      ="#LinksAwakening "
      ="#LinksAwakeningDX"