
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo showing Deadeus for the Game Boy running on the Analogue Pocket")

%p
  I finished getting all of the endings in Deadeus. There was nothing that blew me away about this little experience gameplay-wise, but it was definitely neat to play a "new" Game Boy game from 2019! And it was the perfect game for testing out the blood red Neon Pinball Matrix display setting on my Analogue Pocket. Although, with a handheld from 2021 and a game from 2019 I don't even think I can describe this as retro gaming anymore!

- unless intro
  %p
    .container{class: ("hashtag")}
      ="#AnaloguePocket "
      ="#Gameboy "
      ="#Deadeus"