
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-07-08")

%p
  @leahbree93 and I completed Baldur's Gate: Dark Alliance for the PS2 together!

- unless intro

  %P
    For a long time I had only the vaguest of memories of playing a game with my older cousins when I was like 6 or 7 where I got to be a Dwarf in a Tavern who was tasked with going into the sewers. There were giant spiders in the sewers and they freaked me out as a kid!
  %P
    It turns out that that game was this game. It was timely to get to play it now when the newest Magic: the Gathering set is Commander Legends: Baldur's Gate! Playing it cooperatively with Leah was a fun change of pace since we don't often get to play games together that way. In fact, she liked it a lot more than I expected her too - enough that we might check out the sequels soon!
  %P
    .container{class: ("hashtag")}
      ="RetroGaming "
      ="CRTGaming "
      ="PlayStation2 "
      ="PS2 "
      ="BaldursGateDarkAlliance"