
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-06-21")

%p
  A stack of Kirby Games to go with Kirby's Star Stacker!

- unless intro

  %P
    I must have falling block puzzle games on the brain after moving from Dr. Mario 64 into this. I assumed it would basically be a rebrand of another Nintendo puzzle game - like Yoshi's Cookie - but with a Kirby coat of paint. However, it ended up being a pretty fun and unique little puzzler - even if I think I still prefer Dr. Mario to it.
  %P
    I played it so much that I even Unlocked the Crown & Scepter version of the title screen! That means I had to get over 100 stars in Super Hard difficulty Time Attack, over 1000 stars in Super Hard difficulty Challenge Mode, AND complete ALL of the Round Clear mode levels - including all 50 of the ones included in the unlockable Intense difficulty that comes after Super Hard. Quite the accomplishment!
  %P
    I had fun with this game, but I feel like I'm good on block style puzzlers for awhile... although I've always wanted to give Panel de Pon / Tetris Attack / Puzzle League a go... maybe next time!
  %P
    .container{class: ("hashtag")}
      ="AnaloguePocket "
      ="RetroGaming "
      ="GameBoy "
      ="KirbysStarStacker "
      ="GameOfTheMonth"