
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of for NES cartridges for Dragon Warrior I - IV next to an Analogue Pocket displaying the title screen for Dragon Warrior III for the Gameboy Color")

%p
  I completed Dragon Warrior III for the Game Boy Color and gathered 100 TinyMedals to unlock the Gold Pass from Medal Manor!

- unless intro
  %p
    I'm a big fan of the original Final Fantasy for the NES, but I've not played much of the Dragon Warrior series (or Dragon Quest, as it was originally known and is known today). I dabbled a bit with the original NES game in college but that was about it.
  %p
    I really enjoyed some of the innovations on that classic JRPG formula this one brought to the table! The Game Boy Color version is a remake with some additional features and content, but playing it only has me MORE interested in finally trying out the series on NES.
  %p
    I was surprised by how long the game was. I only got stuck a few places, including a frustrating difficulty spike at the very end. The pace is rather slow though, as expected of an RPG of this vintage. But all in all it was a pretty pleasant experience - even if I was ready for it to be over by the time I got to the end of it.
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#AnaloguePocket "
      ="#GameBoyColor "
      ="#GameBoy "
      ="#GameOfTheMonth "
      ="#DragonWarriorIII "
      ="#DragonQuestIII "
      ="#DragonWarrior3 "
      ="#DragonQuest3 "
      ="#DragonQuest "
      ="#DragonWarrior"