
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-09-04")

%p
  I got 100% completion in Crash Bandicoot 2: Cortex Strike's Back... again!

- unless intro

  %P
    The original Crash Bandicoot games still hold up - and they look amazing on the CRT! As some of the very first 3D platformers, these games were a huge step ahead of what most (non-Mario) games were doing at the time. And they even have Mario handily beat in the visuals department!
  %P
    I absolutely loved these games growing up and I still have a soft spot for them now. I never got 100% completion as a kid, but when I revisited the games in college I finally did! And then I did again (including the added time relics for 102% completion) when they released the remastered versions of these games on modern consoles. So if you count that, this is actually the third time I've started a new file in this game and taken it all the way to 100% completion.
  %P
    I'm not sure what exactly made me want to play it again now, but since I have, I really want to play Crash Bandicoot 3: Warped next... that was my favorite one and the one I played the most growing up. Should I?
  %P
    .container{class: ("hashtag")}
      ="RetroGaming "
      ="CRTGaming "
      ="Playstation "
      ="PS1 "
      ="CrashBandicoot "
      ="CrashBandicoot2"