
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-11-28")

%p
  I collected EVERY egg in Toki Tori for the Gameboy color!

- unless intro

  %P
    This was a great puzzle platformer game. It actually reminded me quite a bit of the Adventures of Lolo and even more of the puzzle platformer game I made some years ago - Mighty Dive Bomber! The two share a lot of DNA and have a lot in common, despite me never playing Toki Tori when I put that game project together in 2018.
  %P
    There was only one or two snags where I felt like the puzzle was too difficult to solve due to an under-explained mechanic. Namely, world 3 level 6, and world 4 levels 9 and 10. The later two I ended up solving in a way that I'm still not sure was intended - no guides or videos anywhere online describe solving the puzzles the way that I did. Either my solutions were unintentional or they were so obtuse it made me question whether they were unintentional - that's no good, either way! Since they seemed so novel, I filmed myself playing through my solutions to levels 9 and 10 for posterity; you can watch them here if you'd like:
  %P
    https://youtu.be/N5UwbGh-FQc
https://youtu.be/fEzi_W2nsVI
  %P
    Overall, though, most of the puzzles were challenging in a good way. It's a pretty stylish looking game for a Gameboy Color game too, and the soundtrack was amazing!
  %P
    If you'd like to play Toki Tori (I recommend it if you like puzzle platformers), a newer version of the game has been rereleased on iOS and ported to WiiWare as well as Steam and the Nintendo Switch's eShop over the years. And if you'd like to play Mighty Dive Bomber, as always, you can do so at my website (link in bio)!
  %P
    .container{class: ("hashtag")}
      ="RetroGaming "
      ="GameOfTheMonth "
      ="AnaloguePocket "
      ="Gameboy "
      ="GameboyColor "
      ="TokiTori"