
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-01-03")

%p
  I completed Super Mario Advance for the first time! Including gathering all the advance coins and the bonus hidden yoshi egg hunt mode at the end.

- unless intro

  %P
    As big a fan as I've always been of the classic Mario games included in the advance series, I never could get into Super Mario Bros. 2 / Super Mario Advance. Even playing it now it feels just a little too "off" from the usual Mario formula to really scratch that Mario itch for me. Still not high on my personal list of Mario games, but I'm glad to have spent more time with it after owning it all these years.
  %P
    I've read that the GBA version makes some significant changes to the mechanics of the original, though. Perhaps the original NES version would be more up my alley... should I play that next? 🤔
  %P
    .container{class: ("hashtag")}
      ="RetroGaming "
      ="AnaloguePocket "
      ="GameboyAdvance "
      ="SuperMarioAdvance "
      ="SuperMarioBros2"