
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-12-31")

%p
  I beat the Nitrous Oxide times on all 18 tracks in Crash Team Racing and unlocked the scrapbook as a result!

- unless intro
  %p
    I did NOT think that was an accomplishment I'd even want to try to achieve, but I had so much fun with Crash Team Racing that I found myself going back to it again and again the last few months until suddenly I'd completed the last and hardest challenge there was remaining in the game!  %p
    This accomplishment also officially means I have done every possible thing one could do in the original four Crash Bandicoot games developer for the PlayStation by Naughty Dog.  %p
    Maybe now that I know how much I enjoy playing this game I should look into the PS4 remake that contains not 18 but 40 whole tracks to enjoy AND an online racing mode?  %p
    .hashtag RetroGaming 
    .hashtag CRTGaming 
    .hashtag CrashTeamRacing 
    .hashtag PlayStation 
    .hashtag CrashBandicoot