
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-12-01")

%p
  I 100% completed Crash Twinsanity for the PlayStation 2!

- unless intro

  %P
    Never before have I played such an unfinished, buggy mess of a game. I say that as someone who repeatedly experienced a game crashing bug that ground his playthrough to a halt. That said, in spite of its (many) flaws, I enjoyed it more than The Wrath of Cortex as far as post-Naughty Dog Crash sequels go.
  %P
    The 3D visuals of this game are miles better than what we got in Wrath of Cortex, and are exactly what I would have expected to see when translating Crash Bandicoot from the original PlayStation era graphics into the PS2. They are very expressive during the numerous cutscenes in the game, which are all a highlight of the game. It's a genuinely hilarious game - albeit pretty inappropriate at times! The soundtrack is a very unique choice for a video game of any era, let alone from 2004 - it's all done by the a capella group Spiralmouth. There are a lot of inventive gameplay ideas on display, some of which transition the series in more of a 3D collect-a-thon direction akin to Super Mario 64 and the like, and pretty much all of them control fairly well - maybe with the exception of the sledding segments.
  %P
    However, it is SO clear that the game was rushed out the door. The first area has a lot of fun cutscenes and polish, but that takes a nose dive in the remaining areas until eventually there was so much missing that I couldn't even follow the plot anymore. The open world style of level selection is a fun idea - until you start going back to previous levels in order to grab the gems you missed, you have to play through a MULTIPLE full levels just to get back to the one you want to replay. And don't get me started on the absolutely antiquated saving system this game has. All that combined made this one of the most tedious games to 100% I've played.
  %P
    All together, I still liked it. I did have fun with it, even if it was very different for a Crash Bandicoot game. But I absolutely would not recommend worrying about 100% completing it. Just play through the main story for the charm this game DOES have to offer!
  %P
    .container{class: ("hashtag")}
      ="RetroGaming "
      ="CRTGaming "
      ="PlayStation "
      ="PlayStation2 "
      ="PS2 "
      ="CrashBandicoot "
      ="CrashTwinsanity "
      ="Twinsanity"