
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-11-18")

%p
  I completed Ghost Trick: Phantom Detective again! Or, rather, @leahbree93 did while I watched.

- unless intro

  %P
    As a huge fan of the original Phoenix Wright trilogy, I procrastinated on this game far too long. I originally played it a couple years ago in June 2020, and it really blew me away when I did. It got me hooked into the story and characters almost immediately, and when the whole thing was finished I could not believe the places the story ended up going while managing to make it all look obvious in hindsight. Very tightly written! 
  %P
    I would highly recommend this game if you like visual novels with a light and unique puzzle element to them.
  %P
    .container{class: ("hashtag")}
      ="RetroGaming "
      ="NintendoDS "
      ="NintendoDSLite "
      ="GhostTrick"