
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2021-10-12")

%p
  Cleared Adventures of Lolo in one sitting. Always been one of my favorite games. Was one of the main inspirations for the Mighty Dive Bomber game I made way back when!

- unless intro

  %P
    .container{class: ("hashtag")}
      ="NES "
      ="AdventuresOfLolo "
      ="crtgaming"