
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-12-23")

%p
  @leahbree93 and I got 144% completion in Crash Bash for the original PlayStation!

- unless intro

  %P
    That means we got all 28 trophies, crystals, gems, and gold relics - and we completed all the bosses. Don't ask me why that equates to 144%, but it does! We didn't get the remaining 28 platinum trophies or we'd have an even 200%. But just getting the gold relics was a nightmare, so I'm not sure we will be going back for the platinum ones anytime soon.
  %P
    This game is... not a good game. I I'm not sure it was for the time. And it's CERTAINLY not now. I remember playing it a bit as kid, but never getting very far... now I know why. It's like Mario Party... if it was ONLY the mini games and no board... AND there are only about 7 mini games that are repeated with 4 slight variations of each.
  %P
    With so little content you might ask why it was so hard to get to 144% that we quit while we were ahead rather than try to get the platinum relics for the full 200%. Well, the answer is that ALL of the games increase's difficulty comes from repetition, the game cheating in favor of the AI, repetition, increasingly cheap one sided one hit kill conditions, and repetition.
  %P
    It was fun to have a Crash game whose adventure mode had a co-op option so that we could endure the pain this game has to offer together. But I can't in good faith recommend it. It's fun playing with 4 other humans, but against the AI - just forget it.
  %P
    But this means I've completed ALL of the original run of Crash Bandicoot games - the five on the original PlayStation and the  first two on the PS2. What a joy the original games were to revisit, even today! The other, non-Naughty Dog developed games like Crash Bash were much more of a mixed bag. But I'm glad I tried them at least once!
  %P
    Merry Crashmas to all, and to all a good night!
  %P
    .container{class: ("hashtag")}
      ="RetroGaming "
      ="CRTGaming "
      ="PlayStation "
      ="PSX "
      ="CrashBandicoot "
      ="CrashBash"