
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-06-27")

%p
  I completed Amazing Penguin for the original Game Boy! Or Amazing Debbie Bird, as my mom would call it.

- unless intro
  %P
    This was a fun little game. I was surprised by how fast paces the action was for and school Game Boy game- those usually tend to be more sluggish than this. That said, I wasn't a huge fan of this one, but it was fairly inoffensive as well. I was able to complete it start to finish in a single afternoon! That said, I can understand why it is considered a Hidden Gem among the Game Boy library by those who like it though. Maybe it would grown on me if I played it more and really aimed for a High Score. It was certainly a unique Game Boy experience!  %P
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#GameOfTheMonth "
      ="#GameBoy "
      ="#AnaloguePocket "
      ="#AmazingPenguin"