
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of Tylor dressed in a Wario costume holding an Analogue Pocket displaying the Perfect screen from Wario Land 3")

%p
  I got every treasure in Wario Land 3! This was a game I'd completed before, but it was still really fun to revisit. Its not quite as near to my heart as Wario Land 4 is, but I remember it being one of the few Gameboy Color games I owned growing up (mostly what I had were Gameboy Advance games). And its still a really fun experience!

- unless intro
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#GameOfTheMonth "
      ="#GameBoyColor "
      ="#AnaloguePocket "
      ="#WarioLand3"