
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-03-16")

%p
  I finished Adventure Island for the Game Boy!

- unless intro
  %p
    Growing up, I remember avoiding this series of retro platformers because I was an avid Mario fan and distinctly felt that this looked like just a rip-off of Mario. Looking back I realized that was silly, and that I should be excited to get to play a new-to-me retro platformer that was good enough to spawn multiple sequels.  %p
    Unfortunately, despite having high hopes for it and going in with a fresh mind, I didn't love this one. Mostly because the jumping mechanics were a bit stiff and the level design felt pretty repetitive. In fact, while I played it, I ended up wishing it played a little more like Mario... Oh, the irony!  %p
    Glad I tried it out, but I'm not chomping at the bit to play the sequels anytime soon.  %p
    .hashtag RetroGaming 
    .hashtag AnaloguePocket 
    .hashtag GameBoy 
    .hashtag AdventureIsland 
    .hashtag GameOfTheMonth