
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2021-10-06")

%p
  Just beat Castlevania on a single credit for the first time! Check out that high score. #Castlevania #NES #crtgaming

- unless intro
