
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-05-01")

%p
  I finished replaying Mother 3 yesterday. What an amazing and beautiful video game. Definitely as good as I remember it being when I first played it in 2016! I can't recommend it enough.

- unless intro
  %p
    Pictured with it is the Mother's Cookbook that contains recipes based on the many food items that can be found in the Mither series. Most of the book is dedicated to Earthbound, but there's still a small Mother 3 section in the back that we got to try a few things out of to snack on while we played.  %p
    .hashtag RetroGaming 
    .hashtag GameOfTheMonth 
    .hashtag AnaloguePocket 
    .hashtag GameBoyAdvance 
    .hashtag Mother3 
    .hashtag MothersCookbook