
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of an Analogue Pocket surrounded by nature displaying the title screen of Survival Kids")

%p
  I got the best ending in Survival Kids! This is one of the more pricey games in my Game Boy collection at this point - it was little known and I don't think it sold very well. It's hard to call it a hidden gem with a price like that, but what played out was a very fun adventure game with lots of exploration and a light survival element!

- unless intro
  %p
    I was surprised to see a crafting system in this game that -while fairly shallow by modern standards - did feel ahead of its time and reminded me of more modern games like Minecraft. Overall I enjoyed the experience of puzzling my way through this game. That said, there were definitely a couple of low points - one in particular that I had to give up on solving myself and look up the answer to, and I am STILL not sure I would have ever figured it out myself had I not done that. But other than those couple low points, the rest of the game was a pretty high quality experience!
  %p
    There are multiple endings to achieve throughout the game, but I feel satisfied enough having gotten the "best" one that I don't feel a need to replay it to try and get all of them. This has renewed my interest in playing its successor, Lost in Blue, for the Nintendo DS, which I have never played. It's been a bit since I've done some DS gaming, but it would be fun to get back to some of that at some point in the near future. Maybe someday!
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#AnaloguePocket "
      ="#SurvivalKids "
      ="#GameBoy "
      ="#GameBoyColor "
      ="#GameOfTheMonth"