- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post, 2), alt: "A screenshot of the Kingdom Builder Randomizer app", size: '270x600')
      = image_tag(image_for(@post, 3), alt: "A screenshot of the Talisman Randomizer app", size: '270x600')
      = image_tag(image_for(@post), alt: "A screenshot of the Dokmus Randomizer app", size: '270x600')

%p
  I finally got around to updating the three android apps I developed, including the ones I created almost a decade ago. In case you are unfamiliar - these are apps I made to be tools to help with randomizing the setup of various board games. I made the first version of the Kingdom Builder randomizer app and Talisman Randomizer apps in 2016, and I added the Dokmus Randomizer more recently in 2022.

- unless intro
  %p
    There is not much new in the way of functionality, as this was mostly just to bring them in line with the minimum targets that the Google Play store requires of its apps these days. That said, I did add a few extra bits of functionality to the randomizers for Kingdom Builder and Talisman. For the former, I added support for the 10th anniversary promo expansion that was released for it in 2022. Almost three years late to that... but better late than never!
  %p
    For the Talisman randomizer, I updated some of the wording to reflect the fact that it is a randomizer for the Revised 4th Edition of the game - which is no longer the newest version! A 5th Edition for Talisman with some rules changes and different expansions has been released as of last year. I am personally not a fan of most of the aesthetic and mechanical changes in that 5th edition, so I will be sticking with my existing Revised: 4th Edition copy. As such, I have no plans to make another randomizer for the new edition. I also updated the Talisman randomizer with entries for the final few digital edition characters that had been released in the years after I first created this randomizer, before the team at Nomad Games stopped working on the digital version of the Revised 4th Edition and moved on to creating a digital version of Talisman for the 5th Edition.
  %p
    Dusting off these Java and Android App development skills has made me think more about creating some other randomizers for board games I frequently play and enjoy. Of course, I will let you all know here on my website if I end up releasing another randomizer, but you can always keep an eye on my
    = link_to("Google Play developer account", "https://play.google.com/store/apps/developer?id=Tylor%20Lilley&hl=en")
    to directly get the latest updates on that front.