
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A photo of Tylor on the beach holding a Gameboy Pocket displaying the end screen of Lock N Chase")

%p
  I finished Lock n' Chase with no continues on my Beach Boy! This was a fun little game to try to get good at. Similar to Pac-Man but with a handful of unique stages and mechanics to work through. I quite enjoyed it!

- unless intro
  %p
    I completed the Extra Mode that unlocks upon completion as well, but I still had to use a continue on the very final level for that mode. I'll keep at it and I bet I'll be able to get it done without any Game Overs too!
  %p
    .container{class: ("hashtag")}
      ="#RetroGaming "
      ="#GameBoy "
      ="#GameOfTheMonth "
      ="#LockNChase "
      ="#BeachBoy"