%p
  Hey everyone. It's been awhile since I've posted anything new. Life has been moving fast these days, and it's not left me with as much time for side projects as I would like. That said, I have been working on a huge update to EIH, off on and on, over the past year or so. I hope that someday soon I will have it in a state that is ready to show off to the world, but until then, I still have nothing else to share on that front.

- unless intro
  %p
    That said, I did update the website and I wanted to make a post about it. Some of you may have known that I embarked on a project in 2022, to post about any video games I played online. I had created an Instagram account and made it a habbit to post there with a picture, and a caption discussing my thoughts on the game, for every game I played that year. A few posts were made to that account in 2021 beforehand and a few posts were made afterwards in 2023 and 2024 also.
  %p
    Well, I have come to the conclusion that I cannot in good conscience continue to contribute to any of Meta's platforms any longer - even if I wasn't a very active member anymore. As such, I will be deleting my Facebook and Instagram accounts shortly after this post goes up, and I have already removed the links to those accounts that were once present on the
    = link_to("follow page", "/follow") + '.'
    That said, I wanted to preserve the work I put into those instagram posts, and decided to upload them all retroactively here, on my website, instead.
  %p
    If you look through the
    = link_to("post history", "/posts") + ','
    you will now see a bunch of posts prefixed with "RetroGaming" that were not there before. These posts are 1:1 uploads of the content I had originally posted to Instagram during that time. Not all of them are
    %i technically
    related to retro gaming; although, then again - maybe Nintendo Switch and PS4 games DO count as retro games now that the Switch 2 and PS5 are out! In any case, I wanted to tag them all with some subtitle that could easily group them together, and by far the main thing they had in common was RetroGaming, so that's what I went with.
  %p
    If you never saw those posts orginally, or you did back then and want to take a walk down memory lane - you can now do so guilt-free, and without the need for a Meta account, by simply perusing the back catalog of posts on this website. Go ahead and check them out if that interests you! If not, hang tight until the next update - whenever that may be - when I hopefully will have more to share on the EIH updates I've been working on all this time.