
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "A collage of two photos of an Analogue Pocket, one displaying the title screen for The Bouncing Ball, and one displaying the title screen of Dangan")

%p
  This month I played a few hmebrew games for the original Game Boy!

- unless intro
  %p
    These are games that are made to run on the original Gameboy hardware, but were developed and released by fans long after official support for the hardware had ended.
  %p
    The Bouncing Ball was made as part of a Game Boy game jam, and it's a really neat little platformer game. The marathon mode allows you to speedrun all 50 levels in a row and try to shoot for the lowest overall time. My personal best was 13 minutes and 53.7 seconds! I would heartily recommend this little game and I can see myself returning to play it again the same way I sometimes come back to Super Mario Land. Both are perfect games for those times when you want to be able to pick up and finish a game all within about thirty minutes or so.
  %p
    The second game I tried was Dangan. I'll say it - I am not man enough for this game... I couldn't even beat it. I DID manage to complete the first three levels though - and that's half of the six present in the game! This game was made to celebrate the Game Boy's 30th anniversary, and it's certainly a technically impressive game that's fitting of that celebration. Getting a bullet hell game working WITHOUT any slowdown on a system notorious for it's glacially slow rendering speed is definitely impressive. If you like bullet hell types of games, this is a very solid - albeit simple - entry into that genre that is definitely worth checking out. For me, though, I'll kindly stick to platformers like The Bouncing Ball and leave bullet hell games like Dangan to other people...
  %p
    .container{class: ("hashtag")}
      ="#AnologuePocket "
      ="#GameBoy "
      ="#Homebrew "
      ="#TheBouncingBall "
      ="#Dangan "
      ="#GameOfTheMonth"