
- unless intro
    .container.post-image
        .row
        .col-12
            = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-01-31")

%p
  Boxxle - probably better known by its original japanese name Sokoban - is an ancestor to all block pushing puzzlers today. It's officially licensed game boy release has 108 puzzles in it (110 if you include the two hidden puzzles), and I beat every. single. one.

- unless intro
  %p
    This was no easy feat! Some of them left my head scratching for hours at a time, but I'm proud to say that I conquered them all (and did so, as always, without save states or anything else that would have lent me a helping hand).  %p
    There was something nice about going back to puzzles with such a simple set of rules and so few distinct mechanics. That said, it can definitely get a bit dry at times, so maybe avoid this one unless you are just in it for the love of the puzzle!  %p
    My love carried me through to the end... eventually... but I've definitely had my fill for now. I'm not looking to play anymore Boxxle anytime soon, but someday I'll have to return and conquer its only Game Boy sequel - Boxxle II - which actually has even more puzzles in total than the first game did! 😵  %p
    .hashtag RetroGaming 
    .hashtag GameBoy 
    .hashtag AnaloguePocket 
    .hashtag Boxxle 
    .hashtag Sokoban