%p
  Humans are flawed creatures. We each have our trials and temptations, but we have the power to choose between giving in or standing strong. Can you, a noble man, survive a descent into hell and all the deadly sins and evil souls that await you there? Will you be able to rescue the heart of your beloved and make it out with your soul intact? Or will you accidentally press the arrow key one too many times and step into a pool of lava?
%p
  Inspired chiefly by the old-school Atari game
  = link_to("Adventure", "https://en.wikipedia.org/wiki/Adventure_(1980_video_game)") + ','
  10 seconds in Hell was originally developed for
  = link_to("Ludum Dare 27", "http://www.ludumdare.com/compo/ludum-dare-27/?action=preview&uid=26293") + ','
  a tri-annual 48 hour game making competition. After the original version scored
  %strong 18th out of 2213 games
  in the Mood category, I continued to work on it and developed it into the full game you can play today. The game has pseudo-random generation elements so it is different each time you play. Have fun! Just be prepared to die a lot.
