%p
  A young man awakens in a field. Scattered about him are the remnants of a lost civilization. Although he doesn't want to admit it, the blood and debris seem strangely familiar to him. With an empty stomach and a guilty conscience, he sets off on a journey... a very harrowing journey.
%p
  This game was originally made for
  = link_to("Ludum Dare 33", "http://ludumdare.com/compo/ludum-dare-33/?action=preview&uid=26293") + ','
  where the theme was "You Are the Monster." It's a short game, but it marks the first time I've tried my hand and creating music from scratch for one of my games! More than anything else I am proud of how the chiptune music for day and night turned out, especially given that they were only created in 48 hours for the game jam. Give it a shot if you feel like confronting your inner demons! Or just eating people I guess!
