%p
  Tell me, adventurer. Do you like magical potions with varying results? Ancient wands that cast strange and exciting spells? Powerful foes that must be dispatched with yet more powerful weaponry? Then Castle Climber is the game for you. Embark on a quest up every floor of the evil wizard's tower and wonder at the vexing oddities you find therein. And every time you die... a new tower forms, and a new quest is just beginning.
%p
  Castle Climber is a game that came about as the result of a single burning question: "What would happen if I crossed
  = link_to("The Legend of Zelda", "https://en.wikipedia.org/wiki/The_Legend_of_Zelda_(video_game)")
  with
  = link_to("Wario Ware", "https://en.wikipedia.org/wiki/WarioWare,_Inc.:_Mega_Microgames!")+'?"'
  The answer was an interesting blend of action adventure and fast placed, short lived gameplay. Each floor of the castle is just a small, screen-sized room with various monsters, traps, and, yes, treasures, that would fit right at home in any NES action-adventure epic. It is a fast-paced, action-packed adventure that's different every time. Still not interested yet? I strongly recommend you give it a try and find out for yourself."
