%p
  If dragons love one thing, it's shiny, shiny gold. And what's this? The local peasants are so downtrodden they are willing to risk entering your lair just to swipe some of your precious, shiny gold? Not if you can help it! Burninate those peasants, and drive the invaders out of your lair!
%p
  Dragon's Lair began life as an experiment. I wanted to create a defend-your-castle style game with a twist - in between defending
  %i your
  castle, you would become the one attacking someone else's! Levels would alternate between the defend-your-castle style gameplay and a scrolling shooter style gameplay where you advanced and destroyed an enemy fortification. I chose to theme this idea as a dragon, since they are often seen both defending their lair from invaders and pillaging towns and stealing their precious treasure. Upgrades you earned in one mode would affect how your dragon controlled in
  %i both
  modes, and eventually there would be some kind of final level or something and probably an endless mode too.
%p
  Unfortunately only half of the game got created. This is a perfectly viable defend-your-castle game... but that's all it is. There's nothing incredibly innovative or exciting about it, since I never got around to implementing the scrolling shooter portions before moving on to a different project. But as this is still a perfectly playable game that a lot of work went into, I decided to host it here in case anyone wanted to play.
