%p
  Can you survive in the harsh conditions of Hell? Can you endure endless torment for the one you love? You may have hoped and prayed for more time with which to explore Hell the last time you were here. But be careful what you wish for, as you just might get it.

%p
  EIH is a psuedo-sequel to 
  = link_to("10 Seconds in Hell", "/games/10-seconds-in-hell") + '.'
  You do not need to have played that game to enjoy this one, but this game does employ similar gameplay, mechanics, and art style to that earlier project of mine. EIH is an old-fashioned permadeth roguelike with simple controls. It features a near-infinite amount of randomly generated dungeons with a variety of hazards to discover and avoid.
%p
  You may not be able to carry over any progress from one randomly generated map to the next, but what you CAN carry over is the knowledge you've gathered from your previous defeats. Explore Hell and experiment to push your limits as you discover new and better ways to deal with its hazards and denizens. With enough time and effort, you may even discover a way out. Anything is possible... even if you have to spend an eternity to achieve it.

%p
  Unlike any of my older games, EIH is available to download and install on a mac as well as on a PC. Download whichever version matches your machine below!

