%p
  Ah, feel that summer breeze. The smell of fresh grass clippings fill the air as you wipe the sweat from your forehead and pause to look up at the bright blue sky. Or at least it used to be bright blue - it looks like a storm's brewing. Better finish cutting the lawn fast, or you might be too drenched to get a sip of grandma's fresh squeezed lemonade!
%p
  Grass Cutter is a simple game about cutting grass. Or it would be simple, if those darn rain clouds would stop causing the grass to keep growing! This is based off of an old Atari game of the same name. I simply re-created it for use on our modern day computer technology... okay, and I added in a few... twists as well. I won't spoil anything for you, so you can find out for yourself. So what are you waiting for? Let's cut some grass!
