%p
  %strong Home! Star! Run! Go!
  Homestar Runner really great. Homestar Runner Athe-a-late. Homestar Runner; mom and dad. Look out Homestar! It's Strong Bad!
%p
  Homestar the Runner is a little minigame I created in 2008. It is styled after the retro-themed DVD menu for
  = link_to("Homestar Runner", "http://www.homestarrunner.com/video.html")+'\'s'
  Everything Else Volume 3 DVD. The characters are not mine, but I did all of the graphics myself. It's just a simple little game I created as a longtime fan of their work. It's just Homestar doing what he does best: running. And, I guess, jumping, if you want to get technical. But that doesn't matter. What does matter is getting a high score than your friends! Check it out!
  = link_to("No seriously, check it out", "http://www.homestarrunner.com/firsttime.html")+'.'
