%p
  There is a time of which no one speaks. A time when darkness encroached on the world, and all that was good and light shrunk back from its scratching claws until only a few cloistered hovels of civilization were left. These were the dark ages.
%p
  During these times, the people held on to but one hope: that one day a Light Bringer would be successful in his mission to drive back the darkness, and the world would fill with light and happiness again. Being chosen to be a Light Bringer was the highest honor... but it was also certainly a sign of your impending demise, as no Light Bringer had ever returned alive. But maybe, just maybe, you will be the one that does. All you have left is that one hope.
%p
  This is the demo of the game engine I developed for a metroidvania style exploration game named Light Bringer. This demo shows off the game mechanics under the guise of a single Light Bringer mission to a nearby cave, and stands alone apart from the rest of the game. Unfortunately, I never finished the main Light Bringer game, and this is all that remains of it now. It is still a fun bit of exploration that will maybe take you about an hour to complete, give or take - assuming you are able to find all the hidden items. If you like what you see, don't forget to let me know - I could always resume work on the full game some day!
