%p
  Ah yes, my eternal nemesis, Galrond the Scarlet. At last we meet again on this floating field of battle. We have toiled against each other for many years, each always outdoing the other with ever more grand displays of arcane power and sorcery. But it is time to put this thirty-year feud to an end. It is time... for
  %strong Mage Battle!
%p
  Mage Battle is a re-imagining of one of my earliest games. In this game you can battle against a variety of different types of computer-controlled AI mages, or kick it up a notch by challenging a friend! So far this one of my only two-player games to date. As a mage, you are trying to fire a shot to destroy your opponent while they are weak. But before you can fire any shots, you must first store up energy charges - leaving yourself open to be obliterated while you do so. You can also deflect on-coming magic blasts with ease by shielding - but shielding will not charge your magic. With these powers at your disposal, it's a race to see whether you can kill your opponent first - or whether they will kill you.
%p
  The graphics and sound effects in this game were not created by me, only edited in some cases. Most are taken from actual video games like Super Smash Brothers Melee and Fire Emblem. This is not the usual case with my games, but it used to be, and this game is a holdover from that young and innocent era of game design. This game means no infringement on any of the borrowed assets owner's rights, and is all in good fun.
