%p
  Way back in 2011, I made what I considered to be my first "real" video game. It was a puzzle platformer called
  = link_to("Mighty Dive Bomber", "/games/mighty-dive-bomber-classic") + '.'
  Well, not too long after making it, I decided I could do it better. That version got very close to completion, but never saw the light of day. I picked it up again almost five years later, and finally finished it. This is that game.
%p
  This is by far the game I am most proud of having created. I feel like it represents the baseline for the level of polish in terms of presentation and gameplay experience I am able to create as a one-man team. Still, I feel like I could go even further if I wasn't just completing a project that I started five years ago, and instead was programming a game entirely from scratch. Will we see another Mighty Dive Bomber re-imagining in my lifetime? I would guess the answer is yes.
%p
  But in the mean time, this is a lovely verison of the game for you to enjoy. I hope you find it as engaging to play as I did to design and develop! This version of the game shares about 50% of its levels with the original, but the rest are all new (and contain some brand new game mechanics as well). Even if you already played the original, there should be a lot more here for you than just a shiny new coat of paint!
