%p
  Oh no! Dr. Mischivio is at it again! Attacking from his castle in the center of evil Mischivio Island, he has kidnapped Princess Amalia and plans to take over the world! Our one hope is a hero who emerges from the ensuing chaos... Mighty Dive Bomber is here! He arrives with a bang, creating crash landings wherever he falls. Only he can outwit Dr. Mischivio's clever traps and solve the puzzles of Mischivio Isle before it is too late!
%p
  Mighty Dive Bomber is a retro, NES-styled puzzle platformer. It is a lovable parody of one my favorite ages in gaming, complete quirky story, and beep-y sound effects from the days of yore. The graphics in this one are mostly done by me, with some parts edited from existing NES sprites. The game itself is loads of fun, and can actually be rather addictive. Like all good puzzle-platformers the concept is simple. All the usual bits are there: ladders, switches, keys, you name it. The innovation in this one is with Mighty Dive Bomber's only super-power: whenever you fall from a considerable height, you blow up the ground you land on! A great little game with over 30 levels and quite a bit of challenge later on. After completing
  %strong Mighty Dive Bomber
  was the first time I sat back and really felt like I had made a video game. Because of that, it will always hold a special place in my heart.
