%p
  This game is a collection of vaguely sports themed local multiplayer games. It was the first major project I worked on that was a 3D game and not a 2D one, and it was quite a challenge to put together. Luckily, I did not have to do so alone, as Super Action Sports was the
  = link_to("Capstone Project", "http://web.cse.ohio-state.edu/~boggus.2/5912/GameGroups.html")
  that I completed at the end of my time at OSU.
%p
  Together with my four teammates, we were able to create this lovely little collection of five local multiplayer games, each one based around a different sport (Golf, Hockey, Baseball, Tennis, and Fencing). While we initially had larger plans for adding yet more games and features to this collection after finishing it, we ultimately decided to go our separate ways. Thus,
  %i Super Action Sports!
  is considered complete in this form, a testament to all the blood, sweat, and tears that we put into it as a team during development.
%p
  Give it a quick spin if you've got a buddy or two and want to kill some time playing silly games! You don't even have to know anything about the sports in question.... we sure didn't when we programmed it, anyway.
%p
  %strong NOTE:
  Unlike the other games on my website, this game requires two or more players, and it requires two or more joystick controllers (not keyboard and mouse) to function properly. Also, the recommended ratio for the unity player is 1360 x 768. That is all.
  
