%p
  This game contains a port of the 2004 flash games Thy Dungeonman and Thy Dungeonman 2 to the Playdate device. The original games were created by Jonathan Howe, Mike and Matt Chapman for the Homestar Runner website. You can still play the original flash games, if you want!

%p
  Original flash games:
%p
  = link_to("Thy Dungeonman", "https://homestarrunner.com/dungeonman")
%p
  = link_to("Thy Dungeonman 2", "https://homestarrunner.com/thydungeonman2")
%p
  These are tiny games, (the first one is barely a game at all) but I did my best to faithfully recreate just about every inch of them for the Playdate platform. I did this as a fun project to get started with learning how to develop for the Playdate handheld. In theory, these versions should respond the same in all situations as the original games would (bugs and all!).
%p
  New to this version is an optional guided input feature that allows the player to pick from a preset selection of verbs and nouns for your input. This lets you play the game on the playdate without having to type in every command, but you can still do things the old fashioned way if you'd rather by enabling free input from the Playdate menu!
%p
  Additionally, you can use the crank to scroll through your selections and/or the screen output, as well as to speed up or slow down the scroll speed of the text as it is being output to the screen!
%p
  I hope some fans of the Playdate and/or Homestar Runner get a kick out of seeing this small, silly project that nobody asked for.
