- provide(:title, "All Games")
%section.game.title
  = tag.h1 "All Games"
  %br
%section.game.content
  - @games.each_with_index do |game, index|
    .container
      = render partial: 'teaser', locals: { game: game, index: index }
      %br
