- provide(:title, "All Updates")
%section.post.title
  %h1 All Updates
  %br
%section.post.content
  - @posts.each do |post|
    .row
      .col-12
        %h3= link_to post.title, post
        %h2{:style => "margin-top: -24px"}
          = formated_date_for(post)
        .post.description
          = formated_intro_for(post)
        %br
