
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,300,700);

/* mixins, variables, etc. */

$light-shade:   #EFF0F0;
$light-accent:  #8EA1B2;
$brand:         #4C7799;
$dark-accent:   #345468;
$dark-shade:    #191A1F;
$faded:         #BACAD8;


$gray-medium-light: #eaeaea;
$gray-bg-checker-front: lighten($dark-shade, 4%);
$gray-bg-checker-back: lighten($dark-shade, 0%);
$checker-size: 32px;

/* universal */

html {
  font-size: 14px;
}

body {
  font-family: "Droid Sans" !important;
  padding-top: 80px;

  /* checkerboard background */
  background-color: $gray-bg-checker-back !important;
  background-image:
     -moz-linear-gradient(45deg, $gray-bg-checker-front 25%, transparent 25%),
     -moz-linear-gradient(-45deg, $gray-bg-checker-front 25%, transparent 25%),
     -moz-linear-gradient(45deg, transparent 75%, $gray-bg-checker-front 75%),
     -moz-linear-gradient(-45deg, transparent 75%, $gray-bg-checker-front 75%);
   background-image:
     -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, $gray-bg-checker-front), color-stop(.25, transparent)),
     -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, $gray-bg-checker-front), color-stop(.25, transparent)),
     -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, $gray-bg-checker-front)),
     -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, $gray-bg-checker-front));

   -moz-background-size: $checker-size $checker-size;
   background-size: $checker-size $checker-size;
   -webkit-background-size: $checker-size $checker-size+1; /* override value for shitty webkit */

   background-position:0 0, $checker-size/2 0, $checker-size/2 0-($checker-size/2), 0px $checker-size/2;
}

 .row {
   padding-bottom: 30px;
 }

.jumbotron.custom {
  /* Jumbotron properties */
  padding: 5%;
  margin-top: 2%;
  border-radius: 24px !important;
  background-color: $light-shade !important;
  font-size: 1.5em;
  line-height: 1.7em;

  /* Standard jumbotron parts */
  .title {
    text-align: center;
    display: block;
    color: $brand !important;
  }
  .content {
    display: block;
    color: $light-accent !important;
  }
  .rider {
    text-align: center;
    display: block;
    color: $brand !important;
  }
  .description {
    font-style: italic;
    line-height: 1.4em;
  }

  /* Standard html elements */
  p {
    text-indent: 2em;
  }
  h1 {
    color: $dark-accent !important;
    font-size: 2.8em;
    letter-spacing: -2px;
    text-align: center;
    text-decoration: underline;
  }
  h2 {
    color: $faded !important;
    font-size: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
  }
  h3 {
    color: $brand !important;
    font-size: 1.5em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  a {
    color: $brand !important;
    border-bottom: 1px dashed $brand !important;
    &:hover {
      color: lighten($brand, 15%);
      border-bottom: 1px dashed $brand !important;
      text-decoration: none;
    }
  }
}

.img-thumbnail {
  background-color: $brand !important;
  border-color: $brand !important;
}

.thumbnail {
  margin: 2%;
  background-color: $brand !important;
  border-color: $brand !important;
  .caption {
    color: $light-shade !important;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */
.navbar{
  background-color: $brand;
  a {
    color: $light-shade !important;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;
    &:hover {
      color: lighten($light-accent, 15%) !important;
      text-decoration: underline;
    }
  }
}

#logo {
  font-family: Helvetica !important;
  font-size: 2em;
  color: $light-shade !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  margin: 0px 10px 0px 30px;
  padding: 5px;
  &:hover {
    color: $light-shade !important;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $brand !important;
  color: $brand !important;
  a {
    color: $brand;
    &:hover {
      color: lighten($brand, 15%);
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* follow me page */

.container .row .text-left {
  text-align: center;
}

.container .row .text-left ul {
  text-align: left;
  display: inline-block;
}

/* about me page */

.about-me {
  max-width: 30%;
  border: 2px solid $light-accent !important;
  border-radius: 4%;
  margin: 0% 5% 0% 0%;
  border-color: $light-shade !important;
}
