<footer class="footer">
  <small>
    Website designed, created, and maintained by Tylor Lilley.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Follow", follow_path %></li>
    </ul>
  </nav>
</footer>
