%footer.footer
  %small Website designed, created, and maintained by Tylor Lilley.
  %nav
    %ul
      %li= link_to "About",   about_path
      %li= link_to "Contact", contact_path
      %li= link_to "Follow", follow_path
