%nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  %a.navbar-brand{href: root_path, id: "logo"} Tylor Lilley .com
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav.float-right
      %li.nav-item
        %a.nav-link{href: root_path} Home
      %li.nav-item
        %a.nav-link{href: posts_path} Posts
      %li.nav-item
        %a.nav-link{href: games_path} Games
      %li.nav-item
        %a.nav-link{href:follow_path} Follow
