<div class="jumbotron">
  <section class="post title">
    <%= tag.h1 @post.title %>
    <%= tag.h2 "#{formated_date_for(@post)}", style: "margin-top:-6px" %>
  </section>
  <section class="post content">
    <%== formated_body_for(@post) %>
  </section>
  <section class="post rider">
    <%= tag.h2 sanitize "View other updates #{link_to "here", posts_path }." %>
  </section>
</div>
